[2019-08-06 18:38] zhucaoxiang opened #3 "Fix and update wiki pages"
We are now using the GitHub pages (https://princetonuniversity.github.io/STELLOPT/) as the official site for hosting all the wikis and documentation.

I have converted all the wikis into `markdown` format, but most of them need to be minorly fixed. Incompatibilities are found such as,

- [ ] Tables, code snippets, etc need revisions
- [ ] Equations should be fixed.
- [ ] Table of Contents needs to

[2019-08-09 13:59] zhucaoxiang opened #4 "Move BNORM into separate file"
@jcschmitt I have pushed some commits in [`Hotfix_bnorm`](https://github.com/PrincetonUniversity/STELLOPT/commits/Hotfix_bnorm). In this branch, I moved `BNORM` related part into a separate file, such that `REGCOIL` and `COILOPT++` don't have to repeat. I will use the same implementation in the main branch.

I can compile but I haven't linked my own `STELLOPT` with `REGCOIL`. Could you please chec

[2019-08-13 20:13] zhucaoxiang opened #8 "Get rid of ACML library dependance on PPPL cluster"
This is just a remind that we will/have to remove the dependence of ACML library on PPPL cluster within probably one month. PPPL is going to remove the ACML library once we finished.

[2019-08-14 18:18] lazersos opened #11 "Issue compiling STELLOPT with GENE on Draco/Cobra"
This is minor bug but in order to include GENE into STELLOPT on Draco/Cobra I needed to include the FUTILS library as well.  Unfortunately this had a side effect.  Now when you do a clean_release it deletes the libgene.a file but for some reason fails to recreate it after the fact.  It's probably just a small logic error and only affect the Draco/Cobra build with GENE.  So really just created a pr

[2019-08-14 18:47] zhucaoxiang opened #12 "Write outputs into hdf5/netcdf file"
@jonathanschilling recently updated SPEC to be able to write all the outputs into `hdf5` file using `Parallel HDF5`, which could also be used for `STELLOPT`. Besides the `stellopt.xxx` file, we should be able to write the outputs into a hdf5 or netcdf file. This will be extremely useful for post-processing.

PS: This is not an assignment. Just create an issue to raise people's interest. Volunteers

[2019-08-15 19:27] zhucaoxiang opened #13 "Different results obtained when using different NOPTIMIZERS"
I was running the test case [IOTA_LMDIF](../tree/master/BENCHMARKS/STELLOPT_TEST/IOTA_LMDIF/input.IOTA_LMDIF). I changed `FACTOR=10.0` in the input. I have two runs, both with 32 CPUs (`mpirun -np 32 xstelloptv2 input.IOTA_LMDIF`).

- The first run with `NOPTIMIZERS=8`. It didn't finish in one hour. Here is the log.
<details>
  <summary>Click to expand</summary>

[code]

</details>

- For the seco

[2019-08-16 06:05] #13 closed, assigned to lazersos

[2019-08-16 06:10] #8 closed, assigned to mdjcole, zhucaoxiang, stephethier, jbreslau

[2019-08-27 15:54] jcschmitt opened #15 "Akima_spline & akima_spline_ip not correctly handled in vmec runs during stellopt runs"
Input file at: https://w3.pppl.gov/~jschmitt/input.spline_bug

If I run xvmec2000 with the input file, the pressure and current splines are correctly interpreted and the (wout) output file looks correct.

If I run xstellopt with the input file, the input.*.00000 file looks correct, but the profiles in the (wout) output file are incorrect.  Both the pressure and current splines are incorrect in the

[2019-08-27 18:02] jcschmitt opened #16 "Modify vboot loop to be produce consistent solutions"
This behavior is observed when running stellopt with regcoil in the vboot loop.  Even though I'm in the vboot loop, I'm not modifying the boundary coefficients, so I would expect the vboot loop to converge to an identical answer for every iteration of the vboot loop.  However, what I observe is that the behavior is mirrored across processors (I'm using 32 procs, so pattern is repeated 32 times):

[2019-09-02 15:28] #15 closed, assigned to jcschmitt, lazersos, zhucaoxiang

[2019-09-04 17:10] zhucaoxiang opened #19 "Non-initialized variables detected by Intel compiler"
I was trying to use `Intel` compiler on PPPL cluster with STELLOPT, but it didn't run normally. Then I compiled a debug version of `xvmec2000` by using `make clean_debug` in `VMEC2000`. When running the test case at `/BENCHMARKS/VMEC_TEST/input.QAS`, I got the following error.
[code]

This is caused by using a variable that is not initialized. I fixed it and ran over it. Then I saw other non-initi

[2019-09-04 17:11] jcschmitt opened #20 "Feature request: Add ability to 'cut coils' from coil winding surface (regcoil related)"
Add the ability to automatically 'cut coils' from a coil winding surface during the stellopt optimization loop.

To be implemented in stellopt_regcoil_driver. Will likely use uv2xyz.f, rwcoils.f and ncarg support.

[2019-09-06 21:40] zhucaoxiang opened #21 "Updates on branching model with the `develop` branch"
I am proposing to update our branching model inspired by [this article](https://nvie.com/posts/a-successful-git-branching-model/).

![](https://nvie.com/img/git-model@2x.png)

There will be a new main branch named [**develop**](../tree/develop) for testing functionalities before committing to the [**master**](../tree/master). In the future, **master** will be used for hosting stable release and wi

[2019-09-09 14:08] dbindel opened #22 "LIBSTELL Modules/mgrid_mod.f req MPI?"
I am trying to assemble a Dockerfile to make it easy to build STELLOPT across platforms, and am running into some build difficulties.  When trying to build with LMPI=F, the build stops on LIBSTELL/Source/Modules/mgrid_mod.f with the complaint that mpi_int is not defined.  When trying to build with LMPI=F, the build stops with the complaint that it can't find PARVMEC.  Any hints?

EDIT: This is spe

[2019-09-10 20:03] #22 closed, assigned to nobody

[2019-09-18 13:24] #19 closed, assigned to zhucaoxiang

[2019-09-18 13:25] #4 closed, assigned to jcschmitt, jbreslau

[2019-10-09 14:19] lazersos opened #26 "Improved parallelization in STELLOPT"
The parallelization in STELLOPT could stand to be improved.  Right now the existing processors are divided into `NOPTIMIZER` groups where `NOPTIMIZER` is overridden so that each shared memory group (in most cases a node) is used.  This was due to some weird behavior of `MPI_SPLIT_TYPE`.  Now I've done some testing with pseudo-code and we should be able to subdivide shared communicator produced by

[2019-10-23 18:30] jcschmitt opened #28 "Add NZETA and NTHETA to exported vmec namelist file(s) (input.vmec.00000, etc.)"
NZETA and NTHETA, when specified in the original input file, are correctly used during the VMEC solves, but it is not present in the input file that is generated after each iteration (with extension .00000 or .XXXXX).  This can, in some cases, prevent VMEC from converging when used in subsequent calculations.

[2019-10-30 15:30] zhucaoxiang opened #29 "EZspline not giving correct derivatives"
This is a reminder that @aaroncbader has reported a bug that EZspline doesn't give correct derivatives. More details and reproduction will be provided by @aaroncbader later.

[2019-11-21 22:29] zhucaoxiang opened #31 "Python namelist parser for multi-dimensional arrays"
I have prepared a python parser for Fortran namelist. The main motivation is that the existing packages, like `f90nml`, are not functioning well with multi-dimensional arrays which are extensively used in `VMEC` and `STELLOPT`. An additional feature is to use Fortran indexing convention for better convenience.

For those who are interested, please take a look at https://github.com/zhucaoxiang/name

[2019-12-05 16:15] lazersos opened #32 "Improve BEAM model for BEAMS3D"
While the beam model in BEAMS3D is good for prototyping, a more detailed model with PINI holes is needed for modeling of experimental data.  To this end I plan to implement the ability to read an HDF5 file which defines the individual PINI holes for a given beamline.  In the end, if the user supplies a BEAMLINE file the code will use that to define the starting points for the beam.  This will base

[2019-12-17 16:42] zhucaoxiang opened #33 "Tutorial to use STELLOPT via docker"
@cdmuhlb

I had a good conversation with @dbindel last week. He mentioned that you have some excellent progress on implementing a python interface for calling STELLOPT via docker. This is of great interest to me (and probably some other users). He also mentioned that you found/fixed several bugs. Are you willing to share your tutorial on the documentation website (like a new page at [here](https:/

[2019-12-27 07:07] #32 closed, assigned to lazersos

[2019-12-27 07:17] lazersos opened #34 "Beam Diagnostic Modeling in BEAMS3D/STELLOPT"
There is a desire to include neutral beam diagnostic models in BEAMS3D/STELLOPT for reconstruction on W7-X. There is probably also a desire for similar capabilities regarding diagnostic design on other machines.  This only involves the deposition part of the code at this time.  The first step is to implement a new routine which reads a sightline file, bins particles along each sightline, and calcu

[2020-01-20 16:01] lazersos opened #37 "The make.inc file choosing machines"
I'm testing in the Lazerson branch a new make.inc file which uses `uname -n` to choose which file to use in the SHARE directory.  It seems to work for my laptop, draco, and cobra.  I suspect it also works fine for Cori.  It would be helpful to know what the uname command returns for different users to make sure the pointing is done correctly.

I've checked and if you pass `MACHINE` at the time of

[2020-01-29 22:33] jcschmitt opened #40 "Build issues with stellopt_fieldlines.o"
I think there are some modifications to the build files that are incomplete.

I am trying to build on pppl/ellis and running into issues.

mpifort -ffree-form -ffree-line-length-none -ffixed-line-length-none -O2 -fexternal-blas -I/u/jschmitt/bin/libstell_dir -I/usr/pppl/gcc/6.1-pkgs/netcdf-fortran-4.4.4/include -I/usr/pppl/gcc/6.1-pkgs/netcdf-cxx4-4.3.0/include  -I/usr/pppl/gcc/6.1-pkgs/openmpi-1.

[2020-01-29 22:39] #40 closed, assigned to lazersos

[2020-02-06 14:25] lazersos opened #42 "Implement calculation of sqrt(g), B^X, B_X, and |B| from R, Z, lambda, iota, phi'"
Currently VMEC only output the correct values from sqrt(g), B^X, B_X, and |B| when `LNYQIST=.true.` is set in `wrout.f90.`  When this is done these arrays have a different Fourier spectrum than the R, Z and Lambda arrays.  This is going to be addressed in two ways.

1. Code which can use the larger arrays will be modified
2. Where possible such quantities will be calcualted directly from R, Z, lam

[2020-03-06 07:59] #37 closed, assigned to amicitas, landreman, aaroncbader, jcschmitt, lazersos, benjaminfaber

[2020-03-06 09:08] krystophny opened #47 "Remove code from Numerical Recipes"
For open-sourcing STELLOPT, code from Numerical Recipes has to be removed. Until replacements are found, one should erase these files from all public git history, put them in a private place, and let the user add them manually if he owns a copy of Numerical Recipes.

Here's a list of files that are for sure affected after comparing with [JPlag](https://jplag.ipd.kit.edu/), but there may be others:

[2020-03-29 11:47] gmweir opened #49 "Testing compilation procedure for LIBSTELL +gcc9 under msys64 on windows"
Goal:  Support compilation of a shared libstell.dll that is usable with python on windows machines.
- Numpy currently supports shared libraries under ctypes, but not static libraries
- Most users at IPP-Greifswald have windows VMware machines without administrative privileges.
- Instead of maintaining many separate unsupported toolchains (wout parsers, etc.), we should encourage use of the tools p

[2020-04-02 06:03] lazersos opened #50 "Repositioning of dependency files to upper directories"
It should be possible to move the `CODE.dep` out of the `Release` and `Debug` directories into the directory above and to have one file.  This requires that we do three things.

- [x] In the `makecode` files we need to detect if it's a release or debug build.
- [x] We need to set a variable to track this in the `makecode` file.
- [ ] We need to move the files and edit the explicit `Release` and `D

[2020-04-02 06:04] #28 closed, assigned to jcschmitt

[2020-04-29 19:31] schroeder24 opened #53 "Spline knot optimization variable causes issue with VMEC profile initialization"
I am attempting to run STELLOPT with an optimization of temperature spline knots, and am finding problems when I assign a spline knot as an optimization variable. Specifically,  when any knot is labeled as an optimization variable the mass profile is initialized with values 4 orders of magnitude larger than expected. When there is no knot specified as a variable, the mass profile initializes as ex

[2020-05-06 18:48] #53 closed, assigned to jcschmitt, lazersos

[2020-05-10 19:35] RalfMackenbach opened #57 "Compilation on Ubuntu"
Hi,

I've been trying to compile STELLOPT on Ubuntu (20.04 LTS) using [the compilation pages](https://princetonuniversity.github.io/STELLOPT/STELLOPT%20Compilation%20Ubuntu). I've installed all required packages (small issue, the libhdf5-tools package is not available anymore so I've used the hdf5-tools package which seems to work fine). During compilation of VMEC2000 the set of errors below occur

[2020-05-11 06:54] lazersos commented on #57
It's been a while since I've had to compile the code on an Ubuntu machine.  It looks like you're missing the libraries on the link line.  In the file `SHARE/make_ubuntu.inc` change the line
[code]
to
[code]
and try to recompile.  If it works, let us know and I'll push the file to master as a patch.  Thanks for testing this.

[2020-05-11 09:03] RalfMackenbach commented on #57
Thank you!

This did point me in the right direction, and I got it to work as follows.

In `SHARE/make_ubuntu.inc` changed
`LIBS    = -L/usr/lib -lblas -llapack`
to
`LIBS    = -L/usr/lib -lblas -llapack -lscalapack-openmpi`

The following packages needed to be installed (slightly different from the ones on the website):
[code]

With all these, compilation worked fine.

[2020-05-11 09:03] #57 closed, assigned to nobody

[2020-05-11 09:35] lazersos commented on #57
Updated the `make_ubuntu.inc` in `develop` and updated the packages on the wiki...thanks for your help.

[2020-05-11 09:37] lazersos commented on #50
@zhucaoxiang This is now done in [Lazerson](https://github.com/PrincetonUniversity/STELLOPT/tree/Lazerson) so after merge this should be done.  I'm closing this issue.

[2020-05-11 09:37] #50 closed

[2020-05-12 07:22] lazersos opened #58 "Issue when compiling in Debug mode with Intel"
There appears to be a strange issue which occurs when running VMEC compiled for debugging with the Intel compiler.  The error only occurs when the following debugging flags are used to compile VMEC.
[code]
The error message is
[code]
The error does not appear unless all these 'extra' debug flags are passed.  It also does not appear for 'Release' builds.

[2020-05-12 12:34] zhucaoxiang commented on #58
This error is caused by uninitialized float, as seen in #56. There are also other errors remaining in the debug mode.

[2020-05-21 08:14] lazersos commented on #47
Can we close this issue now?

[2020-05-21 08:15] lazersos commented on #11
I'm closing this issue till it actually affects someone.

[2020-05-21 08:15] #11 closed

[2020-05-21 08:21] lazersos commented on #12
Just a note, the BEAMS3D and FIELDLINES code already does this.  There are some big caveates to doing this correctly. Also if you don't have a parallel filesystem then alternative coding needs to be included.  I would suggest the following enhancements to get this to work correctly:

- VMEC needs an option where it writes it's quantities to a group in an HDF5 file.  Note this function needs to all

[2020-05-21 08:24] lazersos commented on #16
Status?

[2020-05-21 08:27] lazersos commented on #29
@aaroncbader, @zhucaoxiang Looking back at this problem, the thing that bothers me is that the error in F grows at maximum x and y extents.  If this was a simple algebraic issue I'd expect the errors to be symmetric.  I think the issue may be with how the periodic boundary conditions are enforced.

[2020-05-21 10:58] lazersos commented on #29
OK I looked into it a bit more.  It seems that the issue is the underlying grid on which the initial function is sampled.  The function I coded up goes like cos(m*theta+n*phi) and we evaluate it from -pi to pi in the u and v dimensions.  Let me summarize my findings

- 8x8 grid has max error of 0.6% in f(u,v), and 13.6% error in df/du, df/dv, and d^2f/dudv
-12x12 grid has max error of 0.1% in f(u,

[2020-05-21 15:23] pomphrey opened #60 "deprecation of search direction if VMEC fails"
When running STELLOPT in  free-boundary mode, it appears that either (a) a search direction is not deprecated by returning a large Chisq if VMEC fails to converge or (b) input files at the end of a major iteration step when using lmdif do not list the actual value of DELT and boundary fourier coefficients (in the VMEC namelist) that were used to calculate the equilibrium during the STELLOPT run.

[2020-05-21 15:30] zhucaoxiang commented on #29
@lazersos If we use other spline packages to do the same test,  will we get better convergence? Like the one from Scipy (https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.CubicHermiteSpline.html)

[2020-05-21 19:16] lazersos commented on #29
@zhucaoxiang There are many ways to do splines, but I personally would like to keep the methods in-house instead of relying on 3rd party libraries. The reason for this is that the call to a spline is often in the RHS function of an ODE integrator. Eventually we'd like to run on GPU's and then I think the splines are the first candidate to 'live' on the GPU, and I'd prefer if we didn't have to rely

[2020-05-22 11:04] lazersos commented on #29
Also I'd like to be clear that EZspline can use piecewise linear, C2 cubic splines or C1 cubic splines.  The above inaccuracy in the derivative terms comes from using C1 cubic splines.  The fix is to use the C2 cubic spline methods (`spl_obj%ishermite=0`).

[2020-05-22 17:33] lazersos commented on #60
@jbreslau Could you handle the MGRID issue?  I'll look into this run and figure out what's happening with the input namelist.  I also suspect (b) is the issue as @pomphrey suspects.

[2020-05-23 17:07] jbreslau commented on #60
The latest push to the stellcopt branch resolves the MGRID issue.  Would you like me to rebase it and repeat the pull request?

[2020-06-03 11:49] lazersos commented on #29
OK I did some testing and there's a complication using C2 over C1.  I tested both in the FIELDLINES code using the W7-X standard vacuum configuration as defined from the coils file.  If I use C1 splines I clearly resolve the flux surfaces, boundary 5/5 island chain, and the flux surfaces beyond that.  For the same grid resolution and construction methods I only get the core flux surfaces and no 5/

[2020-06-03 11:49] #29 closed

[2020-06-03 13:10] dbindel commented on #29
Marking this here only in case someone comes back to this thread to pic up the last point on alternate spline methods.  There are common spline families that take advantage of smoothness where present and also allow points of non-differentiability.  One of the most common (used in CAD models and in isogeometric finite element analysis) is the non-uniform rational B-spline (NURBS).

[2020-06-03 13:30] lazersos commented on #29
@dbindel I'd be happy to do this but the existing NURBS libraries don't seem particularly open source or easily interfaceable with Fortran. However, it may make a nice summer undergraduate project to write Fortran wrappers one of the NURBS C++ libraries.

[2020-06-03 13:52] zhucaoxiang commented on #29
@dbindel @lazersos I will have a summer student working on splines for coils in FOCUS. After that, I will come back to this problem and see if I can make a contribution.

[2020-06-04 03:49] #47 closed

[2020-06-04 03:49] zhucaoxiang commented on #47
Close it for now.

[2020-06-04 06:38] krystophny commented on #47
Looks fine to me.

[2020-06-10 06:33] lazersos opened #61 "Improved parallelization architecture in STELLOPT"
The parallelization in STELLOPT should be improved to better handle users who wish to set `NOPTIMIZERS<NNODES` and `NOPTIMIZERS>NNODES`.  We must still respect the granularity of computational architecture but this should be possible.  There are three cases we need to address:

1. The user wants a given function evaluation spread across multiple nodes (`NOPTIMIZERS<NNODES`).

   - Check to make su

[2020-06-10 08:17] lazersos commented on #61
Looking through the documentation of [MPI_COMM_SPLIT_TYPE](https://www.open-mpi.org/doc/v3.0/man3/MPI_Comm_split_type.3.php), it appears we don't need to do anything too special. I need to check this but if we pass a communicator to `MPI_COMM_SPLIT_TYPE` which is only part of a shared memory group then it acts like `MPI_COMM_DUP`.

[2020-06-10 18:36] lazersos commented on #61
I seem to have at least the parallelization breakdown portion of the code working properly.  Pull from branch `Lazerson` to test.

[2020-06-11 05:48] lazersos commented on #61
Testing last night. I can confirm the code behaves as expected and VMEC runs in fixed boundary.

[2020-06-11 11:21] lazersos commented on #61
I did some more updates.  There was a slight modification needed to VMEC but now the code should be ready for full testing.  Please pull, and if possible could someone test STELLOPT with free boundary VMEC equilibria?

[2020-06-11 12:54] lazersos commented on #60
@pomphrey So we no longer set chisq to a large value when a search direction fails.  The LMDIF algorithm does print the number but instead the search direction is explicitly removed from the Jacobian.  This was done because setting chi-squared to  a large number results in the individual chi's being smaller.  The resulting Jacobian array would produce unexpected results when inverted.  So the corr

[2020-06-11 14:36] pomphrey commented on #60
@lazersos Please copy the following files from /p/stellopt/ANALYSIS/Pomphrey/LDRD20/STELLCOPT_RUNSwTF/RUN7

input.RUN7, cws, COILS.RUN7.00000, TFcoils, terpsichore_input_00, terpsichore_input_01

If you don't want to run with terpsichore, set the two SIGMA_KINK values in the input file input.RUN7 equal to 1.e30. The mgrid parameters appear at the end of input.RUN7 under &MGRID_NLI. Otherwise, you

[2020-06-11 17:29] lazersos commented on #60
@zhucaoxiang can you upload the files?  I don't have access to the PPPL cluster.

[2020-06-11 17:40] zhucaoxiang commented on #60
@lazersos Here it is. The MGRID file is too large to exceed the size limit.

[STELLCOPT.zip](https://github.com/PrincetonUniversity/STELLOPT/files/4766350/STELLCOPT.zip)

[2020-06-12 07:54] lazersos commented on #61
This appears to be working in free boundary.  I'm going to close this issue and create a pull request for `Lazerson` into `develop`.

[2020-06-12 09:13] lazersos commented on #60
@pomphrey I've been able to run this case now on Marconi using the `stellcopt` branch. I've got a couple of notes:

I can confirm that the input files are not updating the RBC/ZBS values. However, this is by design.  The RBC/ZBS values in free boundary are only initial conditions for the free boundary simulations. In the old version of STELLOPT these would be updated to be whatever the free bounda

[2020-06-12 16:35] pomphrey commented on #60
I think your proposal to include the LBOUND_UPDATE option is good. For
cases where the plasma shape changes a lot in the simulation I have found
it necessary to update the boundary shape to get the initial equilibrium to
converge so, personally,  I expect I will normally set this variable to T.
The W7X plasma shape may not change a lot from start-up to full plasma
parameters, but certainly when we

[2020-06-12 20:45] landreman commented on #61
Sam- Thanks for coding this up. I did some tests and it mostly works for me, aside from these issues:

1. If a user for some reason request `noptimizers` larger than the number of mpi processes, `common_factor` calls itself recursively forever and the code hangs. It would be good to handle this case more gracefully.

2. If the user for some reason requests `noptimizers=0`, the code crashes with a

[2020-06-13 06:49] lazersos commented on #61
Matt looks good to me.  I'll test your stuff out next week and get back to you.

[2020-06-15 13:40] ThijsViersen opened #65 "SIGSEGV: Segmentation fault while following tutorial"
Hello,
When following the [Tutorial: VMEC Free Boundary Run](https://princetonuniversity.github.io/STELLOPT/VMEC%20Free%20Boundary%20Run). I run into a memory error, i had it ran on an independant machine and got the same result. I'm not sure how to resolve this issue. I've included the logs from both the xgrid code and the xvmec2000 code.

`Program received signal SIGSEGV: Segmentation fault - in

[2020-06-19 18:54] pomphrey opened #67 "need to set default values for TERPSICHORE input"
When running STELLOPT with a TERPSICHORE calculation of kink stability, the TERPSICHORE calculation 'hangs' if certain parameters are not set.
For example, if instead of having
TARGET_KINK(001) =    0.000000000000E+000  SIGMA_KINK(001) =    1.e-1   MLMNS_KINK(001) =     76  NJ_KINK(001) =     87  NK_KINK(001) =     47  LSSL_KINK(001) =   1537  LSSD_KINK(001) =    815
as an input line, I have
TARGE

[2020-06-22 03:05] zhucaoxiang commented on #65
I am running a free-boundary VMEC case and get similar errors.

With `GCC/8.1.0`, I got a segmentation fault at the end of running.
[code]

With `intel/2019.u3`, I didn't get the same error, but there was a warning. There is something wrong in the subroutine of `free_mgrid`. This might be a hint.
[code]

I will look it up more carefully. Any thoughts? @lazersos

[2020-06-22 07:18] lazersos commented on #65
Do you get this error when you don't compile with debug?

[2020-06-22 14:18] zhucaoxiang commented on #65
@lazersos No, both are with the `release` flags. But mine is probably a little bit different from yours.

[2020-06-23 07:42] lazersos commented on #67
The variables `MLMNS_KINK`, `NJ_KINK`, `LSSL_KINK`, and `LSSD_KINK` do have default values set in stellopt_input_mod.  The problem is inside TERPSICHORE as `NJ_KINK` and `NK_KINK` depend on the number of modes set in the input file for TERPSICHORE.  This could be fixed:

**Project**: Write subroutine which reads the TERPSICHORE input file and pre-calculates these values based on the file.

The pro

[2020-06-23 15:46] zhucaoxiang commented on #65
@lazersos @ThijsViersen This seems being fixed in the latest `develop` branch with changes from #64. At least, the error goes away with `GCC`.

[2020-06-25 04:38] zhucaoxiang opened #70 "Continuous integration and docker auto-build"
In the branch `ci`, I have implemented some initial tests for continuous integration (CI). Basically, each push and pull-request will trigger an automatic build and regression test. This could be done with various tools. Here, I am using `GitHub actions` and `Docker`.

It seems that GitHub action cannot cache numerical packages. To avoid installing all the required packages each time, I created a

[2020-06-25 04:54] zhucaoxiang commented on #70
I got a side issue when comparing the VMEC outputs. Because of errors in using the dynamic library on docker (see the [log](https://github.com/PrincetonUniversity/STELLOPT/runs/805142175?check_suite_focus=true)),  I am using a python script to compare the wout file with a reference one (see [compare_VMEC.py](../tree/ci/BENCHMARKS/VMEC_TEST/compare_VMEC.py)).  The reference wout file was produced o

[2020-06-25 06:40] krystophny commented on #70
@zhucaoxiang this is very interesting. From my (also not large) experience with CI testing your approach looks fine on first sight. Github actions are the new standard way of doing things and we use it also for pyccel and other stuff now and plan to convert older Travis CI builds to that one.

About the results: one idea would be to switch off all optimization and see if there are still difference

[2020-06-25 10:16] landreman commented on #70
Regarding the vmec problem, I bet the quantities related to J have larger
errors because of mu0. For a 1 Tesla 1 meter configuration, errors in B on
the order of machine precision will have errors in J on the order of
machine precision / mu0.

On Thu, Jun 25, 2020, 2:40 AM Christopher Albert <notifications@github.com>
wrote:

[2020-06-25 13:17] zhucaoxiang opened #71 "./build_all --clean_debug not working"
I am trying to use `` and got the following output.
[code]

Basically, the optional commandline argument `--clean_debug` is treated as one of the codes, but match none. We should fix this with advanced options. Also, there might be ways to specify the `make -jN` option from the top level as well.
[code]

[2020-06-25 14:11] landreman commented on #70
It is a great idea to set up CI for stellopt - thanks for working on this!

About your remark that "GitHub actions cannot cache numerical packages": one thing that may work for you here is to use `apt-get` to install pre-built packages. An example can be seen [here](https://github.com/hiddenSymmetries/mango/blob/3b34341ee3687225e88c2c56a645e560d1c9f709/.github/workflows/docs.yml), and the list of

[2020-06-25 14:21] zhucaoxiang commented on #70
@landreman Thanks for the replies. I think you are right about why the J terms have such a significant difference. I am trying to compare the debug version with `-O 0` option as @krystophny suggested, but get stuck with some bugs. I guess we can skip the J terms or set a different tolerance.

As to use GitHub actions to install numerical packages, I did it for FOCUS. It works, but my concern is th

[2020-06-26 10:08] lazersos commented on #71
@zhucaoxiang I can look into it, but I only contributed to this script.  I believe @amicitas and @jonathanschilling are the original authors.

[2020-06-26 10:09] lazersos commented on #65
@ThijsViersen can you verify you no longer get the segfault with the current `develop` branch?

[2020-06-26 10:11] lazersos commented on #61
@landreman I haven't run into any issues with this now, so I'm going to close this issue.  Thanks for implementing and this.  Next up GPU's. 👍

[2020-06-26 10:11] #61 closed, assigned to landreman, jcschmitt, lazersos, zhucaoxiang

[2020-06-29 08:55] ThijsViersen commented on #65
When compiling on the `develop` branch i get missing seperator errors.

[code]

I get this error for every other compilation routine, any hints on how to solve this?

[2020-06-29 13:16] zhucaoxiang commented on #65
@ThijsViersen This is likely caused by using an incorrect makefile, especially the tabs. You cannot use 4 spaces to replace tabs. Please check if you have done this. You can check it by following [this post](https://stackoverflow.com/questions/16931770/makefile4-missing-separator-stop).

If the problem still exists, we need more information to help you.

- What is your system?
- Which makefile are

[2020-06-30 14:59] jbreslau opened #73 "Redundancy in coil spline parametrization"
The present implementation of coil splines in STELLOPT makes use of a a pair of arrays for each dimension, e.g. COIL_SPLINESX and COIL_SPLINEFX giving the values of the spline parameter s and the value of x(s) respectively for each knot.  Neil has pointed out that it would make more sense to have a single s parameter for all dimensions, i.e. a single COIL_SPLINES array giving the s values, and the

[2020-06-30 15:00] ThijsViersen commented on #65
@zhucaoxiang I'm compiling using `source build_all`, using WSL with ubuntu version 20.04 and the makefiles as they are provided in the directory. I'm specifying my machine as an ubuntu machine using `export MACHINE="ubuntu"`. I don't know enough of the programming myself to know where tabs should be used instead of spaces unfortunately

[2020-06-30 15:08] zhucaoxiang commented on #71
Fixed in #72

[2020-06-30 15:08] #71 closed, assigned to amicitas, lazersos, jonathanschilling

[2020-06-30 15:13] zhucaoxiang commented on #65
@ThijsViersen I think the makefile is outdated. Can you please try to replace `make_ubuntu.inc` with the following contents?
Honestly, you might need some information about how to compile codes because the paths to libraries differ on different computers. We don't have an automake script right now.

[code]

[2020-07-01 08:54] lazersos opened #74 "Dealing with PETSC/SLEPC"
There's an issue with putting `include` statements in the `make_machine.inc` files.  Specifically if you don't have the library then the build crashes.  No code in our repo requires PETSC or SLEPC so it doesn't make sense to have a `LPETSC` or `LSLEPC` variable in the `make_machine.inc` files.  What I propose is to remove the references to PETSC or SLEPC from the `make_machine.inc` files and inste

[2020-07-01 14:59] ThijsViersen commented on #65
I managed to compile and the error has been resolved with the `develop` branch. Thanks for the help!

[2020-07-01 14:59] #65 closed, assigned to lazersos, zhucaoxiang, ThijsViersen

[2020-07-04 10:14] landreman commented on #74
With this modification to the build system, stellopt builds fine for me on draco and macports. However when I try running BENCHMARKS/STELLOPT_TEST/vboot_tokamak_sfincs or boot_QHS46_sfincs, there are errors `Error opening stellopt input file input.input.vboot_tokamak_sfincs`. I haven't run the stellopt+sfincs combination in a couple of years so this bug may be an old one. @jcschmitt have you encou

[2020-07-06 00:27] jcschmitt commented on #74
I am away my laptop right now, but i did fix this in my devel branch. I will push my fixes for stellopt/sfincs when i return from vacation (next week), or sooner if we ever get close to a reliable internet connection.

________________________________
From: Matt Landreman <notifications@github.com>
Sent: Saturday, July 4, 2020 5:15 AM
To: PrincetonUniversity/STELLOPT <STELLOPT@noreply.github.com>

[2020-07-08 19:22] zhucaoxiang commented on #74
I am not quite sure if this is related. When I was trying to build STELLOPT with SFINCS using Intel compiler on the PPPL cluster. I got the following error. But I can normally compile SFINCS stand-along using the same environments.

[code]

[2020-07-15 18:06] jcschmitt commented on #74
This should work in the branch: https://github.com/PrincetonUniversity/STELLOPT/tree/develop_sfincs_2020
I've submitted a pull request to pull it into develop

I'll look into the sfincs build issue on the pppl cluster next.

[2020-07-15 18:08] jcschmitt commented on #16
As far as I know, this is still an issue with vboot/bootsj on 2nd/3rd/4th/etc. iterations.  I don't think sfincs suffers from the same problem since the initial profile is initialized differently in the sfincs version of the vboot loop.

[2020-07-16 18:57] zhucaoxiang commented on #31
I have made the repo private because OMFIT is not open-sourced. If you want to use this package, please contact me for access.

[2020-07-16 18:57] #31 closed

[2020-07-17 15:39] jonathanschilling opened #77 "Make stellopt suite available as Linux packages"
As far as I understood, the code in this repo is open source now, correct? What are your opinions about spreading compiled versions into the most popular Linux distributions, e.g. Debian/Ubuntu, Arch Linux,  ... and MacPorts/homebrew? Are there any licensing or other restrictions?
I think this would allow to clean up the build scripts a little bit, since not every user would have to create their o

[2020-07-17 15:57] smiet commented on #77
I would love this! I can work on getting an AUR (Arch User Repository) package up and running.

For Arch I don't think we would need a compiled version, a suitable PKGBUILD that clones the repo and puts the binaries in the correct places would do the trick.

[2020-08-25 18:40] #33 closed

[2020-08-26 15:12] zhucaoxiang opened #81 "MPI shared memory with free-boundary VMEC"
@lazersos I am wondering if there is anything special to set after you implemented the MPI shared memory for VMEC. I am running free-boundary VMEC with `Intel` compiler and `intel mpi`. I found that if I ran VMEC with more than 1 node (16 processors), I will get a SIGTERM error (it works normally with ncpu<16). For example,
[code]

[2020-08-26 15:15] zhucaoxiang commented on #81
Running by specifying the number of nodes seems also not working.
[code]

[2020-08-27 07:40] lazersos commented on #81
@zhucaoxiang Can you run the BENCHMARK cases?  In particular the DIII-D case is designed to test the free boundary parts of the code.  I was able to run in free boundary with 2 Nodes (96 procs) on Marconi just fine.  I was also able to run a free boundary W7-X case across 2 nodes just fine.  I suspect the issue is Eddy.

[2020-08-27 15:58] zhucaoxiang commented on #81
@lazersos Somehow, I can successfully run the DIII-D case. Something might be wrong with my input files. I will check it.

[2020-08-28 06:44] lazersos opened #83 "Updating Boundary Harmonics in Free Boundary"
It has been requested that an option exist to have the RBC/ZBS representation in the input files update in free boundary.  Traditionally during free boundary optimization they are held fixed because they only serve as an initial guess.  The proposal is to add a variable LBOUND_UPDATE which updates the input files as the code optimizes.  However, we should note that this needs to be done after a mi

[2020-08-28 06:45] lazersos commented on #60
I'm closing this bug, as I've opened a enhancement issue #83 which tracks this since I believe the original bug has been addressed.

[2020-08-28 06:45] #60 closed, assigned to lazersos, jbreslau

[2020-08-28 06:55] lazersos opened #84 "Choice of chi-squared functional for BMN Harmonic optimization"
It has been identified that in `chisq_helicity.f90` the definition may need to be updated.  The two key points are

- A undocumented radial weighting is applied to harmonics with respect to m (is not applied if `sigma_helicity < 0`)
- The harmonics are weighted by the energy in the desired spectrum as opposed to the B(n=0,m=0)

From an email by @pomphrey

[code]

[2020-09-23 18:30] jonathanschilling commented on #77
@zhucaoxiang
I was browsing through the [GitHub guides](https://guides.github.com/) and saw that it should be relatively easy to assign a DOI to a STELLOPT release, since the code is open source: https://guides.github.com/activities/citable-code/
Probably this is redundant with citing the original article; what do you think?

[2020-09-24 01:24] zhucaoxiang commented on #77
There is actually an official doi associated with the US DOE code. I will check it later and share it.

[2020-09-24 06:08] lazersos commented on #77
@jonathanschilling, @zhucaoxiang, here's the BibTeX for the code citation.  We should use this whenever referencing the code itself.  However, when referencing a specific result we should cite the paper published on that subject.

[code]

[2020-09-24 20:43] jonathanschilling commented on #77
@lazersos Ok, thanks for the info :-)

[2020-10-08 10:37] jonathanschilling commented on #42
@lazersos Thanks for pointing this out! I always wondered about the 0.25 in `Compute_Currents` in `read_wout_mod.f90`.

[2020-10-27 22:44] msn2700 opened #85 "Compilation on Ubuntu - HDF5 related issues"
Hello,

First off, thanks so much for making VMEC public and posted on GitHub, I'm really looking forward to trying it. For some background on the problem I'm seeing, I have a Windows 10 laptop and am using the Windows Subsystem for Linux (WSL), so I have Ubuntu 18.04 LTS installed. I followed the Compilation page, installed all the packages a few days ago and reviewed the closed Issue #57 for det

[2020-10-27 23:21] zhucaoxiang commented on #85
You should modify the `HDF5_INC = /usr/include/hdf5/serial` in `make_ubuntu.inc`. You probably will also have to modify `HDF5_LIB` which was written for `HDF5-parallel` while you are using `HDF5-serial`. There are also other libraries you may have to modify the path adaptive to your machine settings.

[2020-10-28 16:30] msn2700 commented on #85
Understood, I just modified those two libraries and checked a few others to make sure they'll work. I tried build_all again and, after a few minutes, I do get the message:

Shared release version - libstell.so - is now updated
To free up space, delete all *.o files from Release

...so it appears that it was able to finish, but for nearly every module (e.g. BEAMS3D, BOOTSJ, etc.) I get additional i

[2020-10-28 23:47] zhucaoxiang commented on #85
The issue you have is that you are trying to link MPI version libraries while you haven't installed them. A quick fix is to try to remove `-openmpi` appendix for all the libraries. If it doesn't work, I would suggest you install the MPI version.

To be honest, I haven't tried to compile a serial version. Even on my laptop, I compiled the MPI version. So I am not quite sure if the serial version is

[2020-10-29 00:03] msn2700 commented on #85
To be clear, I want to run anything that works, whether it's serial or MPI (no preference). I installed all of the packages listed on the Compilation page and cloned the STELLOPT repo as instructed, what else would I need to install to be MPI compatible and have this compile successfully?

[2020-10-29 00:10] zhucaoxiang commented on #85
Here are the libraries I installed for the [Docker image](https://hub.docker.com/r/zhucaoxiang/stellopt) in Ubuntu. You can take a reference and compare it with your installations. Then I was able to use `MACHINE=docker` to compile the entire code. You probably have to modify `make_docker.inc` if you use it as well.

[code]

[2020-10-29 06:03] msn2700 commented on #85
Ah, that explains part of it. I see that you installed **libhdf5-openmpi-dev** whereas on the Compilation page you have listed **libhdf5-serial-dev** (see attached screenshot). Maybe change the Compilation listing to include both?

I just installed libhdf5-openmpi-dev and started with a fresh clone of STELLOPT to run build_all and am still getting the error mentioned before with only these three i

[2020-10-29 06:05] msn2700 commented on #85
Sorry, for some reason GitHub removed the asterisks / wildcards around **blacs** inside the double quotes on the find command above, just FYI

[2020-10-29 06:06] zhucaoxiang commented on #85
Try to use `MACHINE=docker` and modify `make_docker.inc` correspondingly.

[2020-10-29 06:07] lazersos commented on #85
@msn2700 My apologies.  This page was done a number of years ago and packages have changed.  I'll update the page accordingly.  @zhucaoxiang this is why it may be better to use `h5pfc` or `h5fc` when compiling with HDF5.

The BLACS library has no module files so it's just lib files.  Take a look in `/usr/lib`.

[2020-10-29 11:43] zhucaoxiang opened #86 "Unsuccessful VMEC calculation leads to segmentation fault in ONE_ITER optimization"
There is a known issue. One can use STELLOPT to do an `one_iter` optimization, like following the process VMEC -> BOOZ_XFORM -> NEO. If VMEC fails and because it is `one_iter`, STELLOPT will call `stellopt_clean_up` first in `stellopt_fcn` before calling `stellopt_neo`. Then a segmentation error will happen because we are trying to access `eff_ripple` before it was allocated in `stellopt_neo`. The

[2020-10-29 20:11] msn2700 commented on #85
No problem at all, I appreciate the help. I looked in /usr/lib but didn't find anything telling:
![UsrLibScreenshot](https://user-images.githubusercontent.com/52429243/97627141-2a6fa900-19e8-11eb-9c86-482ae361787f.png)

[2020-10-30 04:30] lazersos commented on #85
Maybe in `/usr/local/lib`?

[2020-10-30 04:56] msn2700 commented on #85
Unfortunately not, the only thing in there is a python3.6 folder (that is itself empty). Sites online say that the BLAS/BLACS/LAPACK/ScaLAPACK library is part of the ScaLAPACK installer. I just ensured that these have been installed as per Caoxiang's list:

libblas-dev
liblapack-dev
libscalapack-openmpi-dev

Is there another package to install that might have it? Does the BLACS library have its ow

[2020-10-30 05:03] zhucaoxiang commented on #85
@msn2700 `Blacs` seems not essential. I didn't explicitly link them in `make_docker.inc`, probably as the online sites say they are now part of ScaLAPACK. You can use `make_docker.inc`.

[2020-10-30 15:03] msn2700 commented on #85
Thanks @zhucaoxiang, I followed your advice and used MACHINE="docker" in my environment and then simply ran build_all and I didn't see any errors / failures as it compiled everything (see attached for the screen output, if you're curious). I didn't need to change anything in the make_docker.inc file either, surprisingly. Maybe add a note to the Compilation page to try "ubuntu" or "docker" for MACH

[2020-10-30 15:54] lazersos commented on #85
@msn2700 Great news.  The directory ~/bin/ should have a bunch of symbolic links to like xvmec2000, xstelloptv2, xbeams3d, etc.  Also you'll see a libstell.a symbolic link in there.  If you have python3 (h5py, scipy, etc.) you can go in the BENCHMARKS folder and issue the command `make test_vmec`.  You should at the very least see VMEC run.

[2020-10-30 15:58] zhucaoxiang commented on #85
@msn2700 Just a follow-up to Sam's suggestion, in `make_docker.inc`, I modified the directory for storing executables to `$(STELLOPT_PATH)/bin`. So you can check that folder.

[2020-10-30 16:21] msn2700 commented on #85
bunch of symbolic links ... check!
libstell.a symbolic link ... check!
Run test of vmec inside BENCHMARKS ... pretty much checked? See the error below:

msn2700@LAPTOP-8LPL5P2L:/mnt/c/users/matt/repo/stellopt/benchmarks$ make test_vmec
Beginning testing of VMEC2000
mpiexec /mnt/c/users/matt/repo/stellopt/bin/xvmec2000 input.DSHAPE
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[2020-10-30 18:17] lazersos commented on #85
OK so it looks like VMEC works.  So you should be set.

@zhucaoxiang I just took a look at the `make_docker.inc`

I would suggest adding the line
[code]
at the end of the file and the tests should work for him then.  The problem is that when the shared library is being put together since this line is missing it's not linking to the libraries.

[2020-10-30 18:47] msn2700 commented on #85
Awesome, thanks again to both of you for helping me get setup. Let me know if you'd like me to test anything, happy to do so. Unless there is anything further, I'll close this issue.

[2020-10-30 19:40] #85 closed, assigned to zhucaoxiang, msn2700

[2020-11-12 12:14] #26 closed

[2020-11-17 15:32] edisangon opened #87 "strange values in BOOZ_XFORM/NEO"
Hello,

I found that the files calculated by BOOZ_XFORM contain sometimes strange values for the radius rmnc_b variable when it is run inside STELLOPT (below I provide a STELLOPT input file,  input.testBXF, that produces this issue). When I run BOOZ_XFORM  outside STELLOPT for the same flux surfaces the result is different and looks fine.
I run BOOZ_XFORM as

with

45 30
'testBXF.00000'
10 20 30 4

[2020-11-18 07:15] lazersos commented on #87
@edisangon I ran your case and I don't see differences in the `boozmn` file produced by STELLOPT or by BOOZ_XFORM in standalone mode.

[2020-11-18 08:02] lazersos commented on #87
@edisangon Regarding the `NEO` issue `REF_SWI` determines if if b_ref is `bmref_g` or `bmref`.  Now `bmref_g` is constant and used if `REF_SWI=1` but you have `REF_SWI=2` so it's `bmref` which is not constant.
[code]

Frankly this is a bit of history to me.  The default is REF_SWI=2 but from comments in the source it looks like REF_SWI=1 may be a more appropriate choice. If so this can be changed

[2020-11-18 08:09] lazersos commented on #87
For reference

- `REF_SWI=1` use B_00 at inner flux surface for B_norm
- `REF_SWI=2` use B_max on given flux surface.

[2020-11-18 10:13] edisangon commented on #87
You are right, Sam. I forgot the REF_SWI value in the input. Thank you very much!
Regarding the BOOZ_XFORM data I still have different results in standalone or stellopt runs.

[2020-11-18 10:52] lazersos commented on #87
@edisangon can you post up an example plot showing the difference you see?  I get the same values for the BMNC array at each radial grid between standalone and STELLOPT.

[2020-11-18 11:13] edisangon commented on #87
![BOOZ_XFORM](https://user-images.githubusercontent.com/57140365/99523326-358a7900-2997-11eb-9e5d-64ed0bc37b36.png)
These are the values I have in the standalone version (calculating for flux surfaces 10 20 30 40 50) and inside the stellopt suite (all flux surfaces)

[2020-11-18 14:06] lazersos commented on #87
I see what you mean now.  The weird part is that I find the |B| harmonics agree exactly between the two codes but the R and Z harmonics are clearly disagreeing especially in the low m/n pairs.  Doing a single iteration run and looking at the `boozmn_testBXF_opt0.nc` file I get identical agreement with the standalone run.  However, the `boozmn_testBXF.00000.nc` file shows discrepancies.  The `_opt`

[2020-11-18 14:52] lazersos commented on #87
OK the rmnc and zmns arrays were getting overwritten with pmnc and gmnc.  This only affected the read/write loop in STELLOPT.  The `_opt` files and subsequent subcode values should not have been affected, only the files writen by cleanup.  The fix has been pushed to `develop` and `Lazerson` branches.

By chance the bug did not affect bmnc arrays so those were fine in the output files.

[2020-11-18 14:52] #87 closed, assigned to lazersos

[2020-12-11 10:30] edisangon opened #88 "Incorrect VMEC calculation"
There seems to be a problem with VMEC in the develop version. We created the CIEMAT branch starting from develop. Now, the VMEC compiled with the sources of this branch gives different results than the previous version (v 2.78) we have been using before. Previous version seems to be correct
![imagen](https://user-images.githubusercontent.com/57140365/101892688-f7523500-3ba3-11eb-8a7f-951b314d0141.

[2020-12-11 10:55] lazersos commented on #88
@edisangon Without more information I would speculate that you've treated the BMNC array has having the same Fourier spectrum as the RMNC and ZMNS arrays.  If you're using my Matlab routines then here's what I would suggest
[code]

If that's not the problem can you send me your `wout` file and I'll take a look.

[2020-12-11 10:56] lazersos commented on #88
The R, Z, and L harmonic arrays should be sized by mpol and ntor.  The other arrays in the output depend on the Jacobian which has convolutions of the derivatives of these arrays.  So they should have larger hamonic content, hence the introduction of the Nyquist sized quantities.

For the record VMECplot should be handling this correctly (both the Matlab and Python versions).

[2020-12-11 12:29] lazersos commented on #88
@edisangon You need to use the xm_nyq and xn_nyq arrays for the non R,Z, and L quantities.  Taking your wout file I get:
![image](https://user-images.githubusercontent.com/14028512/101903613-d5ad7980-3bb4-11eb-8dd6-c60f85ad0370.png)

[2020-12-11 12:53] edisangon commented on #88
I donwloaded VMECplot v3.0 and it works.
Thanks a lot!

[2020-12-21 22:16] tmqian commented on #86
I think this issue is specific to ONE_ITER (as Caoxiang mentioned).
Running the same file in LMDIF gives "first run fails, improve input" and no segfault.

So there might be a ready-made catch that can be copied from the LMDIF routine?

[2020-12-22 01:42] zhucaoxiang commented on #86
@tmqian You are running my fixed version on Eddy. I will try to push it back to the main branch.

[2020-12-22 14:52] yaozhou1989 opened #89 "Where can I find extender?"
Hello. I am trying to put the output of a free-boundary VMEC run onto a 3D grid like MGRID’s. On VMECwiki I see the description of EXTENDER which seems to do this. However I could not find EXTENDER in the STELLOPT compilations installed on PPPL portal or in the github master branch. Where can I find EXTENDER, or is there another module that can do this job? Thanks!

[2020-12-22 20:10] lazersos commented on #89
@yaozhou1989 The EXTENDER code is maintained by Michael Drevlak at the Max-Planck-Institut für Plasmaphysik in Greifswald, Germany.  Its use is just documented here but is not part of the STELLOPT package.  There are two codes which can generate magnetic fields (and vector potentials) outside the VMEC LCFS.  For discrete points or magnetic diagnostic modeling there is the [DIAGNO](https://princeto

[2020-12-22 20:10] #89 closed, assigned to nobody

[2020-12-22 21:02] yaozhou1989 commented on #89
@lazersos Thanks! I tried to run the fieldlines NCSX tutorial case with the default stellopt on portal loaded. If I have -vac option on things work fine. Otherwise I get an error like below. How do I fix this @zhucaoxiang ? Also, is it possible to also put pressure data on the same grid?

$ xfieldlines -vmec ncsx_c09r00_free -mgrid mgrid_c09r00.nc -field
FIELDLINES Version  1.50
-----  HDF5 Parame

[2020-12-29 14:10] zhucaoxiang commented on #42
@lazersos You also changed TERPSICHORE to use `mnmax_nyq`. There is a bug of not broadcasting the `mnmax_nyq` and it is now fixed in #90 . But I am not quite sure if it is necessary to use the Nyquist number in TERPSCHORE.

[2020-12-29 16:31] lazersos commented on #42
@zhucaoxiang it is because TERPSICHORE needs the Jacobian which is NYQUIST sized.

[2020-12-30 16:19] zhucaoxiang opened #91 "TERPSICHORE errors with Intel compiler"
After compiling STELLOPT and TERPSICHORE using the Intel compiler, the benchmark case in `/BENCHMARKS/STELLOPT_TEST/TERPSICHORE/` will cause several bugs.

## NJ, NK=0 causes divide-by-zero error
TERPSICHORE is compiled with the flag
[code]
A `signal 8 (Floating point exception: integer divide by zero)` error was caught in the middle of TERPSICHORE, which is probably caused by `NJ=0`. The initial

[2020-12-31 01:58] zhucaoxiang commented on #91
After changing the line `USE tpr_param, ONLY: iunit_16, lscreen_trp, iunit_19` to `USE tpr_param, ONLY: iunit_16, lscreen_trp, iunit_19, NJ, NK` in the subroutine plavac_old in `tprgl3.module_04.f`.

A new error happened.

[code]

[2020-12-31 09:27] lazersos commented on #91
TERPSICHORE is a very fragile code.  It was written like a true 'science' code in that it was originally designed to look at analytic equilibriums, then adapted (through hardcoding) to read VMEC wout files, and finally wrappered to use dynamically allocated variables.  But it was never truly written to properly interface to VMEC.  Also, it has real issues with variable typing.

[2021-01-04 02:48] yaozhou1989 opened #92 "FIELDLINES error when running tutorial case"
@lazersos I tried to run the tutorial case for FIELDLINES by running the precompiled versions on PPPL portal. I got the following error prompt:
$ xfieldlines -vmec ncsx_c09r00_free -mgrid mgrid_c09r00.nc
FIELDLINES Version  1.50
-----  HDF5 Parameters  -----
   HDF5_version:   1.12 release: 00
-----  MPI Parameters  -----
   MPI_version:   3.01
   Open MPI v4.0.3, package: Open MPI pbisbal@sunfire

[2021-01-04 05:58] lazersos commented on #92
This is an error originating from the `GetBCyl` routine in the `vmec_utils` module. Try running the command using the proper MPI wrapper and see if you get the same error. Sometimes reducing the mesh slightly helps, try changing `NR` and `NZ` to 200.

[2021-01-04 15:32] yaozhou1989 commented on #92
@lazersos Thanks. I tried running with mpirun/mpiexec but did not help. I reduced NR and NZ to 200, then 160, then 100, which did not help either. Any other tips I could try?

[2021-01-04 15:38] zhucaoxiang commented on #92
@yaozhou1989 You can try to use the Intel compiler version by
[code]

There is even a "debug" version, but I am not quite sure if I successfully compiled it because sometimes I was debugging STELLOPT using that version.

[2021-01-04 15:44] zhucaoxiang commented on #92
@lazersos I have seen the free-boundary VMEC crashes because of the MPI sharing feature several times (both on the PPPL portal cluster and my MacBook). But I didn't have a good record on my hand right now. It happens with some cases on some machines. Once I changed either the input or the machine, it disappeared. I will try to write it down next time.

[2021-01-04 15:52] yaozhou1989 commented on #92
Just tried, still getting "ERROR in GetBcyl".

[2021-01-07 16:14] yaozhou1989 commented on #92
@lazersos I now have FIELDLINES working for some cases (still not for the tutorial case though). I am trying to read in the field data, but it seems that the output contains only the field data but not the grid data. I also could not find the domain boundary info so could not infer the grid either. Therefore I do not know at which points the magnetic fields are evaluated. Am I missing something? T

[2021-01-07 16:41] yaozhou1989 commented on #92
Never mind, I see that 'raxis', 'zaxis', and 'phiaxis' actually refer to grid point locations. Thanks.

[2021-01-20 12:31] lazersos commented on #34
I'm going to close this issue as I think the correct thing to do is provide an interface to the FIDASIM code and then use FIDASIM for the diagnostic model.

[2021-01-20 12:31] #34 closed

[2021-01-21 12:03] lazersos commented on #91
@zhucaoxiang @jcschmitt (and Neil P.), I just realized and issue going to NYQUIST which relates to the TERPSICHORE input files and not so much the `terpsichore_eq` file generated by STELLOPT.  If we not use the NYQUIST sized array to capture the full Jacobian, we will need to expand the harmonics in the table at the beginning of the `terpsichore_input_XX` files.  I'll check this and report back.

[2021-01-21 14:02] zhucaoxiang commented on #91
@lazersos Based on my communication with Tony Cooper, he doesn't know anything related to NYQUIST. So probably we shouldn't use `LNYQUIST=T` in TERPSICHORE.

[2021-01-21 14:15] lazersos commented on #91
If we do that then we're feeding gibberish into TERPSICHORE.  In some cases it works because the high order harmonics die off in general that's not the case.  The `SQRT(G)` term must have a higher harmonic content than R or Z by definition.

[2021-01-21 14:32] zhucaoxiang commented on #91
But that is probably what most TERPSICHORE users did in the last thirty years...

[2021-01-21 17:52] lazersos commented on #91
OK.  That's the issue.  The TERPSICHORE Benchmark run works if you expand the Boozer Spectrum array to run from `n=[-7,7]`.  I also had to slightly modify the input file.  I've pushed the changes to develop.

[2021-01-30 17:45] jbreslau opened #94 "Bug in stellopt_toboozer.f90"
I believe the instruction "CLOSE(iunit)" on line 84 of STELLOPTV2/Sources/General/stellopt_toboozer.f90 is a bug and should be deleted. iunit is an uninitialized local integer in the subroutine stellopt_toboozer as written, and if it happens to have a negative value, the call crashes the code.

[2021-02-07 11:34] landreman opened #95 "Weighting of Fourier modes in quasisymmetry target"
When targeting quasisymmetry in stellopt, `chisq_helicity.f90` applies a surface-dependent weight to each Fourier mode in the Boozer spectrum. At first glance, it appears that this weight also depends on the poloidal mode number m:

https://github.com/PrincetonUniversity/STELLOPT/blob/38c832062fb298165b07f96a0627f1f0f1d16c01/STELLOPTV2/Sources/Chisq/chisq_helicity.f90#L97-L105

However, this bit o

[2021-02-23 07:28] zhucaoxiang commented on #81
Some follow-up marks:

On the PPPL cluster, with the same free-boundary VMEC input file, the MIP-shared memory error will show up if you are trying to run it on multiple nodes (at least for some dawson nodes and for some equilibria, not quite sure if this is 100% reproducible). Running on one node looks fine.

[2021-02-24 12:06] landreman opened #101 "stellopt_reinit_vmec allocation issue"
https://github.com/PrincetonUniversity/STELLOPT/blob/47dad57a9688e47670cb925adf9b46f725d3c71c/STELLOPTV2/Sources/General/stellopt_reinit_vmec.f90#L187

I think this line should have `rbcc` instead of `rbss`, as in the corresponding line of VMEC's `readin.f`:

https://github.com/PrincetonUniversity/STELLOPT/blob/47dad57a9688e47670cb925adf9b46f725d3c71c/VMEC2000/Sources/Input_Output/readin.f#L670

A

[2021-02-24 12:10] lazersos commented on #101
Let's fix that!

[2021-03-04 09:07] zhucaoxiang opened #102 "Update TERPSICHORE tutorial documentation"
On the page [TERPSICHORE tutorial](https://github.com/PrincetonUniversity/STELLOPT/blob/gh-pages/Tutorial%20TERPSICHORE%20NCSX.md), there is an NCSX example. However, it is reported that the test case cannot be reproduced. I have fixed the errors that I found, but the problem is more like an inconsistent input file and screen output. @lazersos When you have time, could you please check this?

1. I

[2021-03-05 01:19] zhucaoxiang commented on #102
@lazersos are you still updating the wiki pages at https://github.com/PrincetonUniversity/STELLOPT/wiki. @jcschmitt mentioned he thought that was the place for hosting the wiki pages. Personally, I was also confused about where to put the documentation. I put everything into the `gh-pages` because the `wiki` section seems not able to show equations. Anyway, after googling, it looks like [(link)[ht

[2021-03-05 07:04] lazersos commented on #102
@zhucaoxiang I've only be updating the `gh-pages`. I would agree that if we have development related stuff we should probably keep that on a separate wiki. I was unaware there were two wiki's I just thought [https://github.com/PrincetonUniversity/STELLOPT/wiki](https://github.com/PrincetonUniversity/STELLOPT/wiki) was a copy of the other one.

[2021-03-05 22:58] jcschmitt commented on #102
The fort.18 file that is used as an example file is not consistent with the LI383 configuration that I have found.  Unless there is a inconsistency in the codes that use this particular file (stellopt_kink.f90 and tprgl0.module_ap.f), then the first number in the fort.18 file (or terpsichore_eq file) is supposed to be WB from VMEC or VOLI for terpsichore- (this is the volume integrated magnetic en

[2021-03-06 05:34] zhucaoxiang commented on #102
@jcschmitt It is likely the case. We should find a benchmark case and update the corresponding output.

[2021-03-06 10:11] lazersos commented on #102
@jcschmitt that makes sense.  It may have been a ARIES-CS case.  It was just the first file I was given to test running the code.

[2021-03-06 10:38] lazersos commented on #101
@landreman So I think the reason I used `rbss` instead of `rbcc` is because of how the variable is used:
[code]
So it makes sense for temp to be the size of `rbss` since `temp=rbss(:,mj)` is used.  Although I can confirm that in the ORNL branch the line reads `ALLOCATE (temp(SIZE(rbcc,1)))`.

It shouldn't matter as both `rbss` and `rbcc` should be `ntor+1` sized.  Although there may be an issue if

[2021-03-06 10:43] lazersos commented on #95
@landreman Good point.  The radial weighting needs to be adjusted.  The +/- behavior is based on keeping with the PPPL convention used in NCSX.

[2021-03-07 10:03] #95 closed, assigned to nobody

[2021-03-07 10:34] lazersos commented on #92
@yaozhou1989 Can we close this issue now?

[2021-03-07 10:35] #88 closed, assigned to nobody

[2021-03-07 10:37] #92 closed, assigned to zhucaoxiang

[2021-03-09 03:04] jcschmitt opened #105 "booz_xform, neo output corrupted (off by a factor of x2) when --nodes =2"
See stellopt input file and SLURM submission scripts, attached.

With --nodes=1 (See ****.GOOD.txt), the first few components of the bmnc_b (Boozer spectrum components) are:
`  bmnc_b =
    2.46763988427014, -1.14710005908182e-15, 2.89586432248833e-15,
      -8.95324323123834e-16, -2.85997832573277e-15, -1.66556925639326e-15,
`

With --nodes=2 (See ****.BAD.txt), the first few components of the bm

[2021-03-09 03:15] zhucaoxiang commented on #105
@jcschmitt Is this happening for the `develop` branch?

[2021-03-09 04:36] zhucaoxiang commented on #105
It seems not an issue for me testing on Eddy. I was running the same case with `-N 1 -n 16` and `-N 2 -n 32`. The output `bmnc_b` are the same. So does `rmnc_b` and `zmns_b` .

![image](https://user-images.githubusercontent.com/26240833/110419059-8bfcfe00-80d3-11eb-8c98-741e04f4cf6b.png)

[2021-03-09 06:14] lazersos commented on #105
@jcschmitt quickly are you using `ncdump` to view the harmonics, python, or one of my Matlab scripts?

[2021-03-09 07:04] lazersos commented on #105
@jcschmitt , @zhucaoxiang I can confirm this behavior on Draco.  I suspect it has something to do with an ALLGATHER and a communicator.  I will look into it today.

[2021-03-09 07:15] lazersos commented on #105
@jcschmitt @zhucaoxiang The issue has to do with when you have more processors than surfaces.  The issue appears isolated to the ns=1 domain of the boozer values (`rmnc,zmns,bmnc,pmns,gmnc`).  The issue is that the boozer interface was orriginaly written for serial execution and I didn't want to rewrite the code at the time.  Thus the first call to `boozers_coords` sets up alot of helper variables

[2021-03-09 08:22] lazersos commented on #105
@jcschmitt @zhucaoxiang @landreman I'm including Matt in this because maybe he has some input.  The issue is that `boozer_coords` is playing tricks with indexing.  It takes both the surface it's supposed to be working on and the surface it's supposed to store that data in as arguments.  But it's using that second variable as a trick to guess whether it should do some pre-calculations.  Really they

[2021-03-09 13:06] zhucaoxiang commented on #105
I am able to reproduce the bug if I used 64 CPUs (larger than the number of flux surfaces), as Sam mentioned. I am going to check Sam's fix.

[code]

[2021-03-09 19:59] jcschmitt commented on #105
@lazersos : I was using ncdump to convert the contents of the boozer output file to a txt file.

Using the same input files as above (I'm running these on Draco, using the 'Lazerson'-branch), I get better results, but not complete agreement between the two versions.

The boozmn files appear to be identical for the two versions. So, that's good!

However, the 3rd column of the 'neo_out' file (I'm n

[2021-03-10 06:59] lazersos commented on #105
@jcschmitt I can confirm this bug exists.  I'll try to sort it out now.

[2021-03-10 07:14] lazersos commented on #105
I can confirm this is `reff` and it's not so much and MPI thing as a algorithm thing.  In `neo.f90` this value is calculated by accumulation

[code]

and our code looks like this

[code]

which obviously won't work.  The solution involves some level of accumulation after running.

[2021-03-16 16:38] zhucaoxiang opened #109 "BEAMS3D not producing correct results with PPPL GCC"
This is for tracking a known issue reported by @pomphrey. Using the GCC version (gcc/9.3) on PPPL, the BEAMS3D executable is not able to produce correct results.

Here is a simple example. Running the `input.ORBITS` case in `BENCHMARKS/BEAMS3D` with `-N 1 -n 16`. The GCC version somehow gives non-sense results. The Intel version gives close results (though not exactly the same).

@lazersos Do you

[2021-03-16 16:45] zhucaoxiang commented on #109
Looks like the GCC one is not calling "Trajectory Calculation".

Here is the screen output for the GCC executable.
[code]

And from the Intel executable.
[code]

[2021-03-17 12:57] lazersos commented on #109
@zhucaoxiang This is an odd behavior.  For reference I usually debug on my Mac with GCC and OpenMPI.  For production runs I'm usually on the MPCDF machines (or Cineca) which compile with Intel.  What branch was @pomphrey working on?

[2021-03-17 13:24] zhucaoxiang commented on #109
@lazersos The `develop` branch.

[2021-03-17 13:27] pomphrey commented on #109
@lazersos :
/p/stellopt/SOURCES/stellopt_develop_gcc/bin/xbeams3d -plasma -vmec RUN12B.00515
---trying to reproduce an alpha loss calculation that Matt had previously run, using identical input and wout files

[2021-03-17 18:24] lazersos commented on #109
Run the BENCHMARKS with make test_beams3d in the `BENCHMARKS` directory and see if they pass.  If they don't then there must be an issue with the compiler options.  Do you get this for non-debug GCC runs?

[2021-03-18 07:55] lazersos commented on #109
I can confirm this behavior for GCC on Mac when using the debugging options in the `make_pppl_gnu.inc` makefile.  In fact here I don't even get as far.

[code]

I can confirm that the issue seems to stem from the compiler option `-ffpe-trap=zero`.  I suspect this is because there are times where division by zero can happen.  When this can happen we explicitly deal with the situation after the fact

[2021-03-18 08:24] zhucaoxiang commented on #109
@lazersos Good find! So there might be a "division by zero" issue. The GCC compiler with extra debug flags catches it while the release flags just return unphysical results without errors. For Intel, there are some hidden default flags that make it work normally.

[2021-03-18 09:41] lazersos commented on #109
The issue came from a grid helper variable that was declared to be n sized but should really have only been n-1 sized.  As a result the nth position was never initialized.  A second helper variable was also created with the same problem, only it's value was set to the inverse of the other variable.  As a result in the nth position we got a divide by Nan.  Now this never cause a direct issue in the

[2021-03-19 09:54] zhucaoxiang commented on #109
@lazersos The new commits fix the error, but still on the PPPL cluster, neither using GCC nor Intel will give correct numbers when running the `input.ORBITS` case.

[2021-03-19 15:35] lazersos commented on #109
@zhucaoxiang I can't replicate the error on Macports, MPCDF, or Cincea, so I can't fix that.  The Intel results you posted look pretty close to correct. The GCC results look totally wrong, but a cursory glance at the `make_pppl_gcc.inc` doesn't seem to indicate anything that should cause a problem with a release build.

[2021-03-19 16:43] zhucaoxiang commented on #109
@lazersos This doesn't make sense. I can reproduce your results on Eddy with the Intel compiler (all True). On PPPL, the Intel version only gives about half Trues. The GCC version just returns ridiculous numbers. I will test on my laptop and also over the GitHub server.

[2021-03-22 02:22] zhucaoxiang commented on #109
@lazersos @pomphrey `test_beams3d_basic` passed on Eddy and Stellar with the Intel compiler. On my laptop with `GCC-10`, it was half passed.
[code]

[2021-03-23 09:48] mdjcole opened #110 "Current PPPL xvmec2000 produces output with errors"
Current PPPL standard xvmec2000 executable runs to seemingly correct completion and generates output.

However, this output gives errors in Newton method when searching for geometric quantities in the .nc files. Equivalent .nc files produced with earlier versions do not seem to give these errors, verified with two separate cases.

Since PPPL seems not to support older versions of STELLOPT, I haven

[2021-03-23 09:54] lazersos commented on #110
@mdjcole Can you upload the input file and wout file?

[2021-03-23 09:58] lazersos commented on #109
@zhucaoxiang OK so this looks like the issue may just be a roundoff error.  The code is showing that the particle positions agree well after 1 time step but for some particles (probably deeply trapped) after 100 timesteps the position isn't correct.  There are a few things which could be the issue.

Can you upload the beams3d HDF5 file this run produced so I can take a look at it?  This could be r

[2021-03-23 09:58] zhucaoxiang commented on #110
@mdjcole There is an old version STELLOPT (version 2.51, with many affiliated codes commented) available on the cluster. You can do
[code]

It can be run, but I haven't done any regression test (we literally don't have a standard test).

[2021-03-23 10:25] lazersos commented on #109
@zhucaoxiang I suspect the issue is the `-finit-real=snan` option.  It seems to screw up vmec_utils.f even when I run with the `-O2` flag the code runs significantly slower when calling the routines from this code.  It could be the magnetic field lookup is being messed up by said flag.

[2021-03-23 11:20] mdjcole commented on #110
@lazersos attached

@zhucaoxiang Thanks. When I run VMEC2000 with that 2.5.1 executable, my meshing tool (which was giving errors) executes correctly. The meshing tool was still using the current supported version.

[vmec_files_to_sam.zip](https://github.com/PrincetonUniversity/STELLOPT/files/6189145/vmec_files_to_sam.zip)

[2021-03-23 11:23] zhucaoxiang commented on #110
@mdjcole Does your meshing tool only read the geometry information? RBC & ZBS? In the latest version, there is an important update that causes many troubles in the API. See #42

[2021-03-23 11:30] mdjcole commented on #110
@zhucaoxiang It also needs B field information. This issue is saying that information will be wrong unless VMEC was run with LNYQIST=.true.?

[2021-03-23 11:33] zhucaoxiang commented on #110
@mdjcole No, (@lazersos  can correct me), in previous versions, the default value for `LNYQUIST` is `false`. Turning on `LNYQUIST` will improve the accuracy of VMEC calculations (as discussed in that issue). So it was now always turned on. However, `LNYQUIST=.true.` requires all the codes that read VMEC output to be modified. That is the problem.

[2021-03-23 12:06] lazersos commented on #110
@mdjcole So there's nothing wrong with the file.  The issue is probably as @zhucaoxiang stated. The `read_wout_mod.f90` and `vmec_utils.f` handle the `LNYQUIST` issue.  Specifically, when `LNYQUIST=.TRUE.` only the `RMNC,ZMNS,LMNS` (and `RMNS,ZMNC,LMNC`) arrays are sized `NS` by `MN`.  The other arrays are now sized `NS` by `MNNYQ` sized.  If you've built your own tool, you just need to handle thi

[2021-03-23 12:51] zhucaoxiang commented on #109
@lazersos But both on my laptop and the PPPL cluster, I was using the "release" mode. `-finit-real=snan` is not activated.
Attached you can find the two HDF5 files (one from my laptop with GCC-10 and the other from PPPL portal).

BTW, I am surprised that two 50-Mb-files can be compressed to 6 Mb.

[beams3d.zip](https://github.com/PrincetonUniversity/STELLOPT/files/6189730/beams3d.zip)

[2021-03-23 13:03] lazersos commented on #109
@zhucaoxiang Yeah it's what I suspected.  The magnetic field grid isn't being initialized correctly:
![Plot of B_R](https://user-images.githubusercontent.com/14028512/112150099-018ec100-8be0-11eb-8121-840cff566386.png)
Something odd if happening here.  What I can confirm from my end is that the tests work fine for Macports with

[code]

The code also runs fine on Draco, Cobra, Raven, and Marconi.

[2021-03-23 13:09] zhucaoxiang commented on #109
@lazersos On the PPPL cluster, I was using `FLAGS_R = -O2 -fexternal-blas` and on my laptop with "homebrew", I am using `FLAGS_R = -O2 -fallow-argument-mismatch`.

[2021-03-24 13:15] mdjcole commented on #110
We added some new routines to vmec_utils.f. I can initiate a pull request, but probably the routines should be made more concise first. Let me know if you want us to do this now. Otherwise, I can proceed with what I have for now.

[2021-03-24 13:19] lazersos commented on #110
@mdjcole Which branch?  I'll take a look and see if I can figure out what changes would need to be made.

[2021-03-24 13:27] mdjcole commented on #110
@lazersos

https://github.com/mdjcole/STELLOPT/commit/12166901c39c8f4fa0663f61e920c6dc24f50e28

[2021-03-25 16:20] zhucaoxiang commented on #81
@lazersos Do you expect the MPI shared memory to take ~50x more time to load the MGRID data? Here is something I observed on the new Stellar cluster at PPPL.

32 Cores
[code]

1 Core
[code]

[2021-03-25 16:33] zhucaoxiang commented on #109
@lazersos Source of the discrepancy on my laptop is found. I changed the compiler flag from `FLAGS_R = -O2 -fallow-argument-mismatch` to `FLAGS_R = -O2  -fallow-argument-mismatch -g -fbacktrace -fcheck=all`.  Now I got all the numbers matched.

I am really surprised that `-g -fbacktrace -fcheck=all` makes a difference. In my understanding, they are either for debugging or for checking.

[code]

[2021-03-25 18:34] lazersos commented on #81
@zhucaoxiang No I wouldn't expect that to be the case.  Although we should be careful and make sure that the number being report is actual wall time and not something screwy due to parallelism.

[2021-03-25 18:43] lazersos commented on #81
@zhucaoxiang I can confirm this bug but I'm not sure if it's real or not.  Either way I'll look into it.

[2021-03-26 03:11] zhucaoxiang commented on #81
With more CPUs, it takes even longer.
[code]

[2021-03-26 14:46] lazersos opened #111 "Lambda Array Bug when using NYQUIST sized files"
There is a bug which causes the `tosuvspace` subroutine in `read_wout_mod.f90` to not return the Lambda array correctly when working with a NYQUIST sized file.  The issue stems from an assumption that not only is `LMNC` (`LMNS`) on the half grid (as other quantities) but that it is also Nyquist sized.  It is not.  The fix is to pull the calculation of the Lambda array out of the loop over `MNMAX_N

[2021-03-31 07:18] zhucaoxiang commented on #109
@lazersos There might be something wrong with the sources. If you add one line before line 784 in `vmec_utils.f` to print the value of ui, you will get `NaN` values when checking the `BENCHMARKS/BEAMS3D/input.ORBITS` (probably you have to run in debugging mode). This is probably the reason why it doesn't work. Do you have any clues?

[code]

[2021-04-02 09:47] lazersos opened #112 "Bug in LeViness Branch"
This issue is to track a bug in the LeViness branch which seems to somehow be related to the magwell target.

Run on Draco by @lazersos LeViness Branch
[code]

[2021-04-02 09:50] lazersos commented on #112
The modified files provided by @alexleviness (the extension should be changed to `.f90` from `.txt` after downloading).
[chisq_magwell.txt](https://github.com/PrincetonUniversity/STELLOPT/files/6248900/chisq_magwell.txt)
[chisq_curvature_p2.txt](https://github.com/PrincetonUniversity/STELLOPT/files/6248901/chisq_curvature_p2.txt)

[2021-04-02 10:18] lazersos commented on #112
Run by @lazersos LeViness branch with updated chisq files;
[code]

[2021-04-27 11:28] #74 closed, assigned to landreman, jcschmitt, lazersos

[2021-04-27 11:28] #94 closed, assigned to nobody

[2021-04-27 11:28] #101 closed, assigned to nobody

[2021-04-27 11:28] #109 closed, assigned to jcschmitt, lazersos

[2021-04-27 11:28] #111 closed, assigned to lazersos

[2021-04-29 13:02] lazersos opened #119 "Free Boundary VMEC bug with Intel2021 compiler (possibly gcc10 as well)"
There appears to be bug related to free boundary VMEC simulations which appears with Intel2021 compilers (and possibly gcc10).  Fixed boundary runs just fine but the free boundary benchmark fails

[code]
It appears to be emanating from the lookup of the magnetic field rather than the loading of the magnetic field.

[2021-04-30 09:49] lazersos commented on #119
The issue seems to come from an `MPI_BCAST` statement.  However tracing down the error is problematic.  From the DIII-D benchmark case:
[code]

and from a free boundary LHD case
[code]

[2021-05-03 01:46] yaozhou1989 opened #122 "Can FIELDLINES add an option to output pressure data?"
@lazersos Hi Sam, I am trying to set up free-boundary VMEC equilibria in M3D-C1. I can read in magnetic field data by using FIELDLINES to put it on a cylindrical grid. However I still need pressure data. Could FIELDLINES add the option to output pressure data on the same grid? Simply holding pressure constant beyond the LCFS will do. Thanks!

[2021-05-03 12:55] lazersos commented on #119
The issue appears due to inappropriate interfaces to the MKL libraries.  The trick is to use the 32-bit integer interface.  Testing now to verify, it appears the proper choice is:
[code]

[2021-05-03 13:18] lazersos commented on #119
Fixed and tests passed.

[2021-05-03 13:18] #119 closed, assigned to lazersos

[2021-05-03 13:23] lazersos commented on #122
No.  The FIELDLINES code is for tracing magnetic field lines.  It assumes nothing about the source of the magnetic field and as such provides no such mapping.  The FIELDLINES code is not a pre-processor for a VMEC To M3D-C1 interface.

[2021-05-03 13:23] #122 closed, assigned to nobody

[2021-05-05 15:25] jcschmitt opened #123 "Convergence difference in "VMEC-standalone" vs "VMEC-in-stellopt""
When I run VMEC with the attached input file, it converges normally after 1138 iterations:
1138  9.87E-12  3.35E-12  1.50E-12  1.600E+00  6.56E-01  3.3930E-01

When I run STELLOPT with the same input file, the VMEC stage does not converge (I tried more iterations, too, but it is clear it is not converging)
2500  5.69E-03  1.99E-03  6.28E-05  1.654E+00  1.00E-01  2.0740E-01

I tried to add LNYQUIST

[2021-05-05 15:26] jcschmitt commented on #123
&INDATA
  MGRID_FILE = 'NONE                                                        '
  LOPTIM =  T
  LSPECTRUM_DUMP =  T
  LNYQUIST = T
  DELT =  0.9
  TCON0 =  2.
  NFP =  3
  NCURR =  1
  MPOL =  9
  NTOR =  5
  NS_ARRAY =      51
  NITER =  2500
  NSTEP =  200
  NVACSKIP =  3
  GAMMA =   0.00000000E+00
  FTOL_ARRAY =   1.00000000E-11
  PHIEDGE =   0.15822730
  CURTOR =  -52856.652
  SPRES_PED

[2021-05-05 16:06] jcschmitt commented on #123
The problem was that I had specified inconsistent pressure profiles in the VMEC namelist and in the OPTIMUM namelist: The resulting AM was not consistent with the specified Te, Ti, Ne profiles.

[2021-05-05 16:06] #123 closed, assigned to jcschmitt, lazersos, zhucaoxiang

[2021-05-07 11:20] gmweir commented on #49
Success!  The xvmec.exe and libstell.dll have been tested a bit, but the accuracy does not yet pass the benchmarks for the ATF and DSHAPE tests.

The compilation works though!

[2021-05-28 13:15] zhucaoxiang commented on #81
@lazersos Just found that when using the free-boundary VMEC reading a binary MGRID file, the single-CPU solution and multiple-CPU one are different (the multi one is wrong). I think last time when we revise the MGRID shared memory, we broke the reading-binary part. Any clue?

[2021-05-28 13:42] lazersos commented on #81
@zhucaoxiang post an example with coils file, mgrid settings and input file and I'll test.

[2021-05-28 14:24] zhucaoxiang commented on #81
@lazersos Here is the case. It converges with one CPU, but fails with >=2.
[free_vmec.zip](https://github.com/PrincetonUniversity/STELLOPT/files/6561456/free_vmec.zip)

[2021-05-28 14:48] lazersos commented on #81
@zhucaoxiang I get non-converging behavior for both 1 and 32 cores on Draco ('Haswell' Xeon E5-2698 processors, Intel Compiler 18.0.5)

The single processor run:
[code]

The 32 core run
[code]

[2021-05-28 14:49] lazersos commented on #81
@zhucaoxiang Could you post the output showing 'converging' behavior?

[2021-05-28 14:52] zhucaoxiang commented on #81
See part of the screenshot. The force is getting down when `NS=32`.
[code]

[2021-05-28 14:57] zhucaoxiang commented on #81
I got the same error as when I use multiple CPUs on the two PPPL clusters, one uses GCC and the other one uses Intel.

[2021-05-28 18:06] lazersos commented on #81
@zhucaoxiang This doesn't have to do with free boundary.  This has to do with how the code behaves when a terribly converged equilibrium goes from one multi-grid to the next.  My 32 processor run literally has the same result when it gets to 2500 iterations for the 16 point radial grid.  I've seen this before I suspect the bug is somewhere in the interpolation from one grid to the next.  The odd p

[2021-06-01 11:59] zhucaoxiang commented on #81
@lazersos I agree this might be a hard-to-converge equilibrium. But somehow, it converges with one CPU on both PPPL clusters, while fails with multiple CPUs. This shouldn't happen.

[2021-06-01 12:02] lazersos commented on #81
@zhucaoxiang Agreed, but it doesn't have anything to do with this specific issue.  It would happen with a poorly converging fixed boundary run as well.  It's related to some poorly initialized variable with regards to the multi-grid method.

[2021-06-01 12:02] #81 closed, assigned to lazersos

[2021-06-09 11:05] yaozhou1989 opened #126 "Is VMEC2PIES working?"
Hi @lazersos , I am trying to use VMEC2PIES and came across a few issues. I fixed some of them but wonder what is the status of this code. The issues include:

-- The mgrid_field subroutine calls the read_mgrid subroutine, which refers to MPI_COMM_WORLD, but MPI_INIT has not been called. This causes runs to fail.
-- In calc_metrics.f90, rho(0:k) at the end of lines 69 & 70 seem erroneous:

[2021-06-09 12:09] lazersos commented on #126
`VMEC2PIES` is a VERY old code and has not been updated in a long time. So it does not utilize the latest routine. There was no impetus to further develop it, so it has languished. If you need a quick turn-around, I would suggest using tools provided by Michael Drevlak at IPP.  Specifically, `EXTENDER` for the magnetic field and `NMORPH` for the PIES computational grid.

To address your concerns:

[2021-06-09 17:10] lazersos opened #127 "Nyquist bug for old VMEC wout text files"
There is a bug where text files earlier than v8.0 will fail to initialize `xm_nyq` and `xn_nyq` so that `mnyq` and `nnyq` are zero.  This then causes a bug in codes like `BOOZ_XFORM`.

This should be confirmed with the ORNL branch as well.  The fix should be simple.

This bug was originally reported via email by @stephethier.

[2021-06-09 17:20] #127 closed, assigned to lazersos

[2021-06-15 08:51] yaozhou1989 commented on #126
Thanks. I took a closer look and it seemed like a lot of work. For example it does not accommodate the nyquist option in B field data, I think. My goal is not to set up PIES but free-boundary M3DC1 simulations, so I do not think I will use VMEC2PIES for that. I have instead implemented a domain expansion routine like what VMEC2PIES has in M3DC1.

Meanwhile I have added an 'lpres' option to FIELDLI

[2021-06-15 13:55] lazersos commented on #126
@yaozhou1989, since your mods to `FIELDLINES` are minor and don't affect runtime I'd say they're fine to merge into develop via a pull request.  Regarding `VMEC2PIES` I think it's fine as well.

[2021-07-01 21:18] pomphrey opened #133 "parallelize TERPSICHORE mode family calculations"
It appears that the TERPSICHORE calculations within STELLOPT may not be fully parallelized. The mode families seem to be treated sequentially - For example, for a 5 field period configuration  (with 3 mode families) the n=0 eigenvalue is calculated BEFORE the  |n| =1, which is calculated BEFORE the |n|=2 eigenvalue.

[2021-07-02 13:55] lazersos commented on #133
This should not be the case, but is how the code will execute if `NOPTIMIZERS` is set equal to the total number of processors.  @pomphrey can you provide a log file so we can confirm the details of your run?

[2021-07-17 06:45] lazersos commented on #126
I'm not sure anyone has a burning need for this capability but if anyone wants a project it's there for them.

[2021-07-22 08:17] #105 closed, assigned to jcschmitt, lazersos, zhucaoxiang

[2021-09-21 07:21] lazersos commented on #112
I'm going to close this issue as it seems to be a non-issue.

[2021-09-21 07:21] #112 closed, assigned to jcschmitt, lazersos

[2021-09-21 07:31] lazersos opened #137 "Interfacing VMEC2000 to IMAS"
This issue is to track the implementation of an [IMAS](https://imas.iter.org) interface to VMEC2000.  IMAS will pass pass and IDS to the the VMEC workflow and then VMEC must handle this.  The IDS data structure will be essentially all the important features in the INDATA namelist. This workflow could then be built upon so that based on a axisymmetric equilibrium VMEC could be run using the axisymm

[2021-09-21 07:39] lazersos opened #138 "Integration of BEAMS3D into IMAS"
This issue is to track the implementation of BEAMS3D into [IMAS](https://imas.iter.org).  As a preliminary step we will leverage the existing axisymmetric interface (EQDSK) to build an IMAS interface.  Thus provided ITER data we can run a BEAMS3D for ITER.  Once the interface is established we'll setup workflows for deposition and orbit following.  This matches the conventions used in the ITER H&C

[2021-10-16 22:24] ChristopherMayes opened #140 "Type mismatch errors compiling with GCC 10 via MacPorts"
Using macports with gcc10

[code]

`./build_all` results in many errors like:
[code]

Note that these do not show up with gcc9.

[2021-10-17 06:06] lazersos commented on #140
With GCC10 there is [stricter type checking](https://gcc.gnu.org/gcc-10/changes.html).  From this [Stackoverflow thread](https://stackoverflow.com/questions/63892055/fortran-error-type-mismatch-between-two-unrelated-subroutine-calls) we can try adding `-fallow-argument-mismatch` to the include `FLAGS_R` and `FLAGS_D` lines in `SHARE/make_macports.inc`.  Let us know if this works and we can update

[2021-10-18 14:32] WillT22 opened #141 "GetBcyl Issue in FIELDLINES"
When running previously successful simulations on FIELDLINES, I am now running into an initialization loop error. Attached is the error file when run on NoMachine. The error looks to be with GetBcyl specifically.
[NX_error.txt](https://github.com/PrincetonUniversity/STELLOPT/files/7365762/NX_error.txt)

[2021-10-18 14:37] zhucaoxiang commented on #141
@WillT22 From the source, the error probably indicates that a point isoutside the VMEC domain.
[code]

[code]

[2021-11-04 13:41] lazersos opened #142 "GetBcyl in vmec_utils.f90 not working near axis"
I recently discovered and diagnosed a bug in the `getBcyl` routine in `vmec_utils.f90`.  The issue stemmed from a BEAMS3D axisymmetric ITER run where particles near the magnetic axis appeared to not be conserving energy.  After much digging into BEAMS3D looking for a bug, I discovered the issue appeared to be stemming from errors in the gradients of the magnetic field.  This was determined to be a

[2021-11-04 13:43] lazersos commented on #142
I created a git repo with the files to re-create this run:
https://github.com/lazersos/getBcyl_test
it's private but just message me to be added to it.

[2021-11-04 13:52] zhucaoxiang commented on #141
This might be also related to #142 and can be merged if so.

[2021-11-04 13:55] lazersos commented on #142
To confirm the sharp change in derivatives occurs for `s = 0.5/(ns-1)`.  So between the half grid and axis.

[2021-11-04 13:58] lazersos commented on #141
@WillT22 Can you upload the VMEC wout file?  I'd like to check this against the #142 issue as @zhucaoxiang suggests.

[2021-11-04 18:49] WillT22 commented on #141
@lazersos Here you go. Let me know if you need anything else.

[wout_fb_original.txt](https://github.com/PrincetonUniversity/STELLOPT/files/7477475/wout_fb_original.txt)

[2021-11-05 10:09] lazersos commented on #142
More digging, the issue appears to originate from the calculation of `Bphi`.  In the below pictures I've plotted isocontours with 1 equating to ns=2 surface.  Thus it's clear that the derivatives of `BPHI` are incorrect inside of the half grid location.

![diff_GetBcyl_s](https://user-images.githubusercontent.com/14028512/140494088-d012750e-4584-469a-848d-97e5b5120b41.png)

Adding some more contex

[2021-11-05 10:50] lazersos commented on #141
Running this equilibrium through my routine, the issue at the axis appears a bit differently.
![image](https://user-images.githubusercontent.com/14028512/140499029-12ce1b71-81b9-40e3-bf05-a74716240405.png)

Most likely your error is due to your choice of grid size.  Adjust NR or NZ slightly and see if the error goes away.  GetBCyl relies on an inverse look-up which can fail sometimes for highly cu

[2021-11-05 10:55] lazersos commented on #133
I'm closing this as we're already parallelized over mode families.

[2021-11-05 10:55] #133 closed, assigned to nobody

[2021-11-05 10:56] lazersos commented on #126
I'm closing this one.

[2021-11-05 10:56] #126 closed, assigned to yaozhou1989

[2021-11-08 13:13] lazersos commented on #142
A quick check shows that `tosuvspace` in `read_wout_mod.f90` is not the issue.  In the following plots the red line is the inner most gridpoint and we see no evidence of a step,

![diff_tosuvspace](https://user-images.githubusercontent.com/14028512/140748008-80d21925-18d8-4ab8-9313-349739b96aba.png)

however if we difference these plots a step becomes apparent at the half grid point,

![diff_tosuv

[2021-11-09 17:23] lazersos commented on #140
I can confirm that using the `-fallow-argument-mismatch` with GCC10 allows the code to compile.

[2021-11-09 17:23] #140 closed, assigned to nobody

[2021-11-19 10:10] lazersos commented on #142
### Update

The issue arises from the algorithm used to integrate the Jacobian.  The Jacobian is stored on the half grid because it contains terms like df/ds. However, unlike quantities like Lambda (also on half grid) the way even and odd modes must be treated is different.  However, the Jacobian also contains terms like f which have a different even-odd mode behavior at the magnetic axis.  Thus i

[2021-11-29 17:26] WillT22 commented on #141
For the NR and the NZ parameters, I was using 201 divisions which is the number provided in the example on the VMECwiki. I have adjusted these values down to 180 and up to 220 individually and together in the FIELDLINES input file on a simulation that ran before this issue arose. All tests yielded the same error as shown above.

[2021-11-30 12:38] lazersos commented on #141
@WillT22 Can you upload the input file (assume it's fixed boundary).  I'd like to run this case.  Also please post your command for running FIELDLINES.

I suspect what you're running into is an edge related issue which arrises for strongly cusped equilibria.  The fix for the axis problem will most likely also provide improvements for the edge.

Unfortunately, I'm busy with hardware from now till C

[2021-12-03 02:51] WillT22 commented on #141
@lazerso Here is the input file and the .batch file I use to run in FIELDLINES modified for the fixed boundary condition whenever you can get to it.

[fixed_boundary_input.zip](https://github.com/PrincetonUniversity/STELLOPT/files/7646464/fixed_boundary_input.zip)

[2022-01-11 09:59] lazersos opened #144 "Integration of FIDASIM outputs into BEAMS3D"
This issue is to track the integration of routines which output the [FIDASIM](https://github.com/D3DEnergetic/FIDASIM) HDF5 file into BEAMS3D.

[2022-03-03 14:34] Beliavsky opened #146 "add topics"
I suggest adding topics such as `stellarator`, `plasma-physics`, `fusion` in the About section at https://github.com/PrincetonUniversity/STELLOPT.

[2022-03-04 10:08] lazersos commented on #42
Just an update to this issue.  The even and odd modes of R, Z, and Lambda do need to be interpolated differently.  The even modes can be linearly interpolated in flux but the Odd modes must be interpolated in rho, so the harmonics need to be multiplied by `1/sqrt(s)`.  Doing this one can properly interpolate R, Z, and lambda.  However, the radial derivatives still have issues as we approach the ma

[2022-03-12 18:40] jcschmitt commented on #42
Similar to using TERPSICHORE, when using stellopt or vmec with cobravmec, LNYQUIST=F must be specified in the vmec-portion of the input namelist.

On branch Lazerson with commit 98b166764088cdc179e0768b2ece2b2df293191c (HEAD -> Lazerson, origin/Lazerson)

I did a benchmarking test of vmec, stellopt and cobravmec through the various ways that the code(s) handle the LNYQUIST flag, and through the va

[2022-03-12 19:04] lazersos commented on #42
@jcschmitt I can see in COBRAVMEC at `order_input` the change which needs to happen.  However, I disagree that any result obtained with `LYQUIST=F` is 'correct'.  When `LNYQUIST=F` is set the modes for anything other than the R, Z and Lambda harmonics are artificially truncated.  I will make the change to `order_input` with the correct behavior.  This change will propagate to STELLOPT as well.

[2022-03-12 20:01] jcschmitt commented on #42
Sounds good. On Monday, I’ll go over this with Aaron and Ben (they wrote a julia version that agrees with what I called the ‘correct’ results. )

________________________________
From: Samuel Lazerson ***@***.***>
Sent: Saturday, March 12, 2022 1:04 PM
To: PrincetonUniversity/STELLOPT ***@***.***>
Cc: John Schmitt ***@***.***>; Mention ***@***.***>
Subject: [EXT] Re: [PrincetonUniversity/STELLOPT]

[2022-03-12 20:12] lazersos commented on #42
@jcschmitt If they're not using the full nyquist sized results then it's isn't 'correct'.  I've pushed a branch which should fix the issue for COBRAVMEC, but initial tests indicate it's slower since the searches over Lambda now have to deal with the larger mode structure.

[2022-03-13 07:42] lazersos commented on #42
@jcschmitt In the branch I've pushed #147 the code now properly handles LNYQUIST sized arrays. However, I've noticed that inside of COBRAVMEC all arrays are linearly interpolated from the half to full mesh.  This isn't entirely correct as the odd modes should go as `sqrt(s)`.  I'm going to open this as a new issue since I think the proper handling of interpolation half/full and calculation of df/d

[2022-03-13 07:49] lazersos opened #148 "Half to full mesh interpolation and calculation of df/ds"
When dealing with VMEC quantities we often need values both at arbitrary points in space, radial derivatives and moved from the half to the full grid.  Care must be taken as the even m-modes can be linearly interpolated on the flux grid but the odd m-modes need to be linearly interpolated on the rho (`sqrt(s)`) grid.  This issue is to help track the proper implementation of interpolation in variou

[2022-03-13 07:52] zhucaoxiang commented on #42
@lazersos Hmm... Can we still trust all the previous results?

[2022-03-29 10:18] lazersos opened #149 "Available Energy Turbulent Transport Optimization"
This issue is to track integration and testing of the Trapped Particle Available Energy Turbulence Proxy integration into STELLOPT.

The proxy code is maintained at: [Available Energy GitHub](https://github.com/RalfMackenbach/STELLOPT_AE)

STELLOPT Branch for development [feature_AvailEOpt](https://github.com/PrincetonUniversity/tree/feature_AvailEOpt) (Based on : [develop](https://github.com/Prin

[2022-03-30 08:46] nuclearfusionreactor opened #150 "Automatic setting of MACHINE does not work?"
From the `README.md` file

[code]
I would expect, if I add a file `make_machine.inc`, where `machine` is what `uname -n` returns, in `SHARE`, and then run `./build_all` that then this settings file is used.

This appears not the be the case. Instead it seems `MACHINE` in `make.inc` is not set (and thus no file included), unless I explicitly set it on the commandline, e.g. `MACHINE=machine ./build_

[2022-03-30 11:20] zhucaoxiang commented on #150
@nuclearfusionreactor Thanks for creating this issue. This `make.inc` was mainly developed by @lazersos . Let me try to summarize and answer your points.
1. `awk` returns nothing if no match is found.
     I don't think this is a flaw. Returning an unmatched `uname` will also not work because you cannot find the corresponding `make_$(MACHINE).inc` file.
2. Your attachment.
     I think you cannot

[2022-03-30 14:26] nuclearfusionreactor commented on #150
1. If I understand you correctly, then maybe we have different use cases in mind. I was thinking of simply creating a file `make_$MACHINE).inc` with the exact output of `uname -n`. While i guess you were thinking of creating a file were `MACHINE` would be the common part among the local group, which of course would require to change the output of `uname -n` in the script - what is done with `awk`.

[2022-04-08 07:12] #149 closed, assigned to RalfMackenbach, lazersos

[2022-04-21 13:36] kudav opened #153 "BEAMS3D: Handling of the poloidal field sign from EQDSK files"
When running BEAMS3D with an EQDSK file, there seems to be an inconsistency in the handling of the poloidal field sign. When converting the equilibrium to VMEC, the sign is handled correctly, seen below on the left plot as negative B_Z on the outboard midplane (I_tor is in positive Phi direction). However, B_Z in BEAMS3D has reversed sign, as seen on the right plot.
![grafik](https://user-images.g

[2022-04-22 06:46] lazersos commented on #153
@kudav Just to be clear this is `g30841.03901` and the toroidal magnetic field is in the negative phi direction when viewed top down and the toroidal current is in the positive phi direction when viewed from the top down?

[2022-04-22 09:01] lazersos commented on #153
The issue boils down to [COCOS Conventions](https://www.sciencedirect.com/science/article/pii/S0010465512002962) and the gfiles themselves.  Now for BEAMS3D we want physical quantities in MKS units with phi counter-clockwise as viewed from above (COCOS=11).  However the G-files can be various COCOS conventions, although it's safe to assume they assume the same toroidal angle convention so COCOS=1,

[2022-04-22 13:38] lazersos commented on #153
Just to follow up on this issue.  This is far more complicated that I'd like.  However, BEAMS3D is COCOS 11 as far as I can tell.  The problem is that EQDSK files (gfiles) can be any one of number of COCOS formats, and it's hard to tell from just looking at the data, what format the file is in.  What I can say is that for COCOS=1,11 (and possibly 3) formatted files BEAMS3D reads them and generates

[2022-05-19 08:53] nuclearfusionreactor opened #156 "Question regarding input file"
Hello,

I got the attached  vmec-input file

[input.vmec.txt](https://github.com/PrincetonUniversity/STELLOPT/files/8727365/input.vmec.txt)

If I am not mistaken then it was used with Oak Ridge (Mark Cianciosa) of vmec.
(I also got a file mgrid_demo.nc, which has a size of several GB and thus is not attached.)

I tried to run it with the stellopt version. I had to change `ndatafmax` (fro LIBSTELL/

[2022-05-19 09:30] lazersos commented on #156
First, do you really need 601 knots for your spline data?

Second, if you do need that many then you need to set ndatafmax to be greater than that number.

[2022-05-19 09:30] #156 closed, assigned to nobody

[2022-05-19 10:04] nuclearfusionreactor commented on #156
I do not know if I need 601 knots*, but some of the input quantities in `input.vmec` (`am_aux_s`, `am_aux_f`, `ac_aux_s`, `ac_aux_f`) have that many points. Parameter `ndatafmax` determines the maximum size of these arrays, thus I had to increase it.

*I did not produce the input file nor the grid data.

[2022-05-20 07:18] koebro opened #157 "Compilation on Marconi"
Hello,

I am trying to compile STELLOPT on the marconi system following the github-pages by loading the listed modules and setting the environmental STELLOPT_PATH and MACHINE='marconi' variables. However, doing so I encounter errors while running the `./build_all` or `make clean_release` commands. Please find the corresponding log-file attached.
[stellopt_build.log](https://github.com/PrincetonUni

[2022-05-20 08:00] zhucaoxiang commented on #157
@koebro There is a possibility you forgot the following step. It looks like it cannot find the correct include path.
[code]

[2022-05-20 08:10] lazersos commented on #157
Yes, @zhucaoxiang is correct.  The information that you need to do this is on the [main compilation] page(https://princetonuniversity.github.io/STELLOPT/STELLOPT%20Compilation) on the wiki.

[2022-05-20 08:10] #157 closed, assigned to lazersos

[2022-05-20 10:47] koebro commented on #157
Thank you for your quick responses! The `STELLOPT_PATH` variable was set. Apparently, for my case, there was some conflict with the set home-directory `MYHOME` in the make_marconi.inc. Changing this to an other `bin` directory solved the issue.

[2022-06-07 06:11] lazersos commented on #148
This has now been checked in all the selected codes.  Recently the fix for COBRAVMEC was implemented and merged into the `Lazerson` branch.  A pull request of `Lazerson` into `develop` will come soon.

[2022-06-07 06:11] #148 closed, assigned to lazersos

[2022-06-14 08:53] #153 closed, assigned to lazersos, kudav

[2022-06-30 11:09] #137 closed, assigned to lazersos

[2022-08-14 18:03] alexandercushen opened #160 "Installation issues on macOSX"
[stellopt_build.log](https://github.com/PrincetonUniversity/STELLOPT/files/9333856/stellopt_build.log)

When I execute ./build_all, I get this string of errors informing me that files are missing. I have followed all the steps on the macOS compilation page -- is this a common problem / one with a simple solution? I am relatively new to these kinds of installations.

Thanks!

[2022-08-15 06:05] lazersos commented on #160
Thank you for providing your build log.  The script is detecting MacOS and attempting to use the MacPorts paths, but you have not specified `STELLOPT_PATH` in your environment variables (see [STELLOPT Suite Compilation](https://princetonuniversity.github.io/STELLOPT/STELLOPT%20Compilation)).

[2022-08-15 06:06] #150 closed, assigned to nobody

[2022-08-15 06:07] #110 closed, assigned to zhucaoxiang

[2022-09-12 06:42] #160 closed, assigned to lazersos

[2022-09-12 06:52] lazersos commented on #141
Sorry, took a while for me to get back to this.  Here are the issues I see

1. You're running a field line diffusion calculation but provide no vacuum field source (coils or mgrid).  This is not possible.
2. You PHIMAX is 2*pi but for an NFP stellarator should be 2*pi/NFP unless you're attempting to calculate error field response.  But then you need many more NPHI planes.
3. I ran what you provide

[2022-09-12 06:52] #141 closed, assigned to lazersos

[2022-10-07 06:57] lazersos opened #162 "Coils Files with only one current group crashes STELLOPT"
STELLOPT will crash if you attempt to optimize a free boundary equilibrium with only one current group.  This won't cause VMEC to crash but rather to issue the message:

[code]
however, when STELLOPT attempts to read the `wout` file and then write it again it crashes with

[code]

The workaround is to always have more than one current group in your MGRID.

[2022-11-18 12:01] achilleasev opened #164 "STELLOPT crashed when BMIN and BMAX are targeted"
I have noticed that in the directory ~/STELLOPTV2/Sources/Chisq there exist the  functionals chisq_bmin.f90 and chisq_bmax.f90, with which one can potentially optimize for the minimum and maximum B values on specific flux surfaces (as called by stellopt_load_targets.f90). However, when I run STELLOPT with those targets, i.e. TARGET_BMIN(5:10) = 5*2.0   SIGMA_BMIN(5:10) = 5*0.01, it crashes; the ou

[2022-11-18 12:06] lazersos commented on #164
@achilleasev Please provide us with an input file so we can attempt to reproduce and debug this error.

[2022-11-18 16:30] achilleasev commented on #164
@lazersos thanks for the reply. Below is a simple test file in which I have given 21 targets in the input but STELLOPT recognizes only 19 of them (it ignores TARGET_BMIN(34) and TARGET_BMAX(34) ), and then crashes when the optimization starts.
[input.test_nfp4.txt](https://github.com/PrincetonUniversity/STELLOPT/files/10043010/input.test_nfp4.txt)

I also attach a screenshot from the output:
![ima

[2022-11-19 06:34] lazersos commented on #164
@achilleasev Just fixed this in the develop branch.  Please pull that branch, rebuild stellopt, and let us know if it works for you now.  If so I'll close this bug report.

[2022-11-21 15:07] achilleasev commented on #164
@lazersos  Thanks! I have rebuild the code and have run successfully the test case. Below is a screenshot (part of the produced file stellopt.filename):
![image](https://user-images.githubusercontent.com/92323864/203087283-c0bc9982-5877-492e-b0a6-70446fcab37e.png)
It seems that at the beginning the code ignores the given target and sigma values for BMIN and BMAX when writing this file (it always w

[2022-11-22 14:09] lazersos commented on #164
The `develop` branch has been updated to fix this bug regarding output of `B_MIN` and `B_MAX`.

[2022-11-22 14:09] #164 closed, assigned to nobody